workflows/business_management_workflow_v3.json
{
  "name": "経営管理システム v3",
  "nodes": [
    {
      "parameters": {
        "path": "business-management",
        "responseMode": "responseNode",
        "httpMethod": "POST",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        0,
        300
      ],
      "id": "bm-v3-webhook"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {
          "responseCode": 200
        }
      },
      "name": "Webhook応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        220,
        100
      ],
      "id": "bm-v3-respond"
    },
    {
      "parameters": {
        "jsCode": "const rawData = $input.first().json;\nconst lineData = rawData.body || rawData;\nconst events = lineData.events || [];\nconst event = events[0];\nif (!event) return [{ json: { valid: false, errorMessage: 'イベントなし' } }];\nconst userId = event.source?.userId || '';\nconst replyToken = event.replyToken || '';\nconst msgType = event.message?.type || '';\nconst msgText = (event.message?.text || '').trim();\nconst now = new Date();\nconst jst = new Date(now.getTime() + 9 * 3600000);\nconst y = jst.getFullYear(), mo = jst.getMonth() + 1;\nconst dd = String(jst.getDate()).padStart(2,'0');\nconst today = `${y}/${String(mo).padStart(2,'0')}/${dd}`;\nconst defaultFile = `経営管理_${y}年${mo}月.xlsx`;\nconst claudeKey = 'YOUR_CLAUDE_API_KEY';\nconst lineToken = 'Bearer YOUR_EXPENSE_LINE_TOKEN';\n\n// PDFファイル → Phase 2-2: 外注請求書PDF処理\nif (msgType === 'file') {\n  const pdfRes = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://api-data.line.me/v2/bot/message/${event.message.id}/content`,\n    headers: { 'Authorization': lineToken },\n    encoding: 'arraybuffer', returnFullResponse: false\n  });\n  const base64Pdf = Buffer.from(pdfRes).toString('base64');\n\n  const pdfPrompt = `今日は${today}です。このPDFを解析しJSONのみで返答。\n\n請求書の種類を判定してデータを抽出してください。\n\n種類:\n- subcontractor_invoice: 外注業者からの請求書（当社が支払う側）\n- sales_invoice: 売上請求書（当社が請求する側）\n- payslip: 給与明細\n- other: その他\n\n返答例:\nsubcontractor_invoice: {\"docType\":\"subcontractor_invoice\",\"registrationDate\":\"${today}\",\"invoiceDate\":\"${today}\",\"vendorName\":\"梶原通信\",\"projectName\":\"△△工事\",\"amountExTax\":50000,\"tax\":5000,\"totalAmount\":55000}\nsales_invoice: {\"docType\":\"sales_invoice\",\"registrationDate\":\"${today}\",\"clientName\":\"港振興業株式会社\",\"projectName\":\"△△工事\",\"amountExTax\":100000,\"tax\":10000,\"totalAmount\":110000,\"invoiceDate\":\"${today}\",\"paymentDueDate\":\"2026/05/31\"}\npayslip: {\"docType\":\"payslip\",\"employeeName\":\"野添優\",\"paymentDate\":\"${today}\",\"baseSalary\":250000,\"totalAllowances\":30000,\"grossPay\":280000,\"socialInsurance\":40000,\"incomeTax\":8000,\"residenceTax\":12000,\"totalDeductions\":60000,\"netPay\":220000}\nother: {\"docType\":\"other\"}`;\n\n  const pdfApiRes = await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.anthropic.com/v1/messages',\n    headers: { 'x-api-key': claudeKey, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n    body: {\n      model: 'claude-haiku-4-5-20251001', max_tokens: 400,\n      messages: [{ role: 'user', content: [\n        { type: 'document', source: { type: 'base64', media_type: 'application/pdf', data: base64Pdf } },\n        { type: 'text', text: pdfPrompt }\n      ]}]\n    }, json: true\n  });\n\n  let pdfParsed;\n  try {\n    const txt = pdfApiRes.content[0].text.trim();\n    pdfParsed = JSON.parse((txt.match(/\\{[\\s\\S]*\\}/) || [txt])[0]);\n  } catch(e) {\n    return [{ json: { valid: false, replyToken, errorMessage: 'PDFを読み取れませんでした。\\n再度送信してください。' } }];\n  }\n\n  if (pdfParsed.docType === 'subcontractor_invoice') {\n    const ds = pdfParsed.registrationDate || today;\n    const dp = ds.split('/');\n    const ty = parseInt(dp[0]), tm = parseInt(dp[1]);\n    return [{ json: { valid: true, messageType: 'subcontractor_invoice', ...pdfParsed, userId, replyToken,\n      fileName: `経営管理_${ty}年${tm}月.xlsx`, targetYear: ty, targetMonth: tm } }];\n  }\n  if (pdfParsed.docType === 'sales_invoice') {\n    const ds = pdfParsed.invoiceDate || pdfParsed.registrationDate || today;\n    const dp = ds.split('/');\n    const ty = parseInt(dp[0]), tm = parseInt(dp[1]);\n    return [{ json: { valid: true, messageType: 'sales', ...pdfParsed, registrationDate: today, userId, replyToken,\n      fileName: `経営管理_${ty}年${tm}月.xlsx`, targetYear: ty, targetMonth: tm } }];\n  }\n  if (pdfParsed.docType === 'payslip') {\n    const ds = pdfParsed.paymentDate || today;\n    const dp = ds.split('/');\n    const ty = parseInt(dp[0]), tm = parseInt(dp[1]);\n    return [{ json: { valid: true, messageType: 'payslip', ...pdfParsed, registrationDate: today, userId, replyToken,\n      fileName: `経営管理_${ty}年${tm}月.xlsx`, targetYear: ty, targetMonth: tm } }];\n  }\n  return [{ json: { valid: false, replyToken, errorMessage: `PDFの内容を認識できませんでした。\\n外注請求書のPDFを送信してください。` } }];\n}\n\n// 画像 → Phase 2-1: レシート・通帳・クレカ明細の写真\nif (msgType === 'image') {\n  const imgRes = await this.helpers.httpRequest({\n    method: 'GET',\n    url: `https://api-data.line.me/v2/bot/message/${event.message.id}/content`,\n    headers: { 'Authorization': lineToken },\n    encoding: 'arraybuffer', returnFullResponse: false\n  });\n  const base64Img = Buffer.from(imgRes).toString('base64');\n\n  const imgPrompt = `今日は${today}です。この画像を解析しJSONのみ返答。\n\n判定タイプ:\n- receipt: レシート・領収書（1件の経費）\n- subcontractor_invoice: 外注業者からの請求書（当社が支払う側）\n- sales_invoice: 売上請求書（当社が請求する側）\n- bank_statement: 通帳・引き落とし明細（複数件）\n- credit_card: クレジットカード明細（複数件）\n- unknown: 判断できない\n\n勘定科目:\n◎: 旅費交通費/通信費/水道光熱費/荷造運賃/外注費/広告宣伝費/支払手数料/保険料/租税公課/リース料/支払利息/消耗品費/法定福利費/諸会費/新聞図書費/雑費\n⚠要確認: 会議費/接待交際費/地代家賃/車両運搬具/福利厚生費/給与/減価償却費\nrequiresReview: ⚠はtrue、それ以外はfalse\n\n返答例:\nreceipt: {\"imageType\":\"receipt\",\"messageType\":\"expense\",\"date\":\"${today}\",\"expenseCategory\":\"消耗品費\",\"requiresReview\":false,\"paymentMethod\":\"現金\",\"storeName\":\"セブンイレブン\",\"amount\":550,\"note\":\"\"}\nsubcontractor_invoice: {\"imageType\":\"subcontractor_invoice\",\"registrationDate\":\"${today}\",\"invoiceDate\":\"${today}\",\"vendorName\":\"梶原通信\",\"projectName\":\"△△工事\",\"amountExTax\":50000,\"tax\":5000,\"totalAmount\":55000}\nsales_invoice: {\"imageType\":\"sales_invoice\",\"registrationDate\":\"${today}\",\"clientName\":\"港振興業株式会社\",\"projectName\":\"△△工事\",\"amountExTax\":100000,\"tax\":10000,\"totalAmount\":110000,\"invoiceDate\":\"${today}\",\"paymentDueDate\":\"2026/05/31\"}\nbank_statement/credit_card: {\"imageType\":\"bank_statement\",\"entries\":[{\"date\":\"${today}\",\"expenseCategory\":\"水道光熱費\",\"requiresReview\":false,\"storeName\":\"東京電力\",\"amount\":15000,\"paymentMethod\":\"口座引落\"}]}\nunknown: {\"imageType\":\"unknown\"}`;\n\n  const res = await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.anthropic.com/v1/messages',\n    headers: { 'x-api-key': claudeKey, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n    body: {\n      model: 'claude-haiku-4-5-20251001', max_tokens: 800,\n      messages: [{ role: 'user', content: [\n        { type: 'image', source: { type: 'base64', media_type: 'image/jpeg', data: base64Img } },\n        { type: 'text', text: imgPrompt }\n      ]}]\n    }, json: true\n  });\n\n  let parsed;\n  try {\n    const txt = res.content[0].text.trim();\n    parsed = JSON.parse((txt.match(/\\{[\\s\\S]*\\}/) || [txt])[0]);\n  } catch(e) {\n    return [{ json: { valid: false, replyToken, errorMessage: '画像を読み取れませんでした。\\nもう一度送信してください。' } }];\n  }\n\n  if (parsed.imageType === 'unknown') {\n    return [{ json: { valid: false, replyToken, errorMessage: '画像の内容を判別できませんでした。\\nレシート・通帳・クレカ明細の写真を送信してください。' } }];\n  }\n\n  // レシート1件\n  if (parsed.imageType === 'receipt') {\n    const ds = parsed.date || today;\n    const dp = ds.split('/');\n    const ty = parseInt(dp[0]), tm = parseInt(dp[1]);\n    return [{ json: { valid: true, ...parsed, userId, replyToken,\n      fileName: `経営管理_${ty}年${tm}月.xlsx`, targetYear: ty, targetMonth: tm } }];\n  }\n\n  // 外注請求書（画像）\n  if (parsed.imageType === 'subcontractor_invoice') {\n    const ds = parsed.registrationDate || today;\n    const dp = ds.split('/');\n    const ty = parseInt(dp[0]), tm = parseInt(dp[1]);\n    return [{ json: { valid: true, messageType: 'subcontractor_invoice', ...parsed, userId, replyToken,\n      fileName: `経営管理_${ty}年${tm}月.xlsx`, targetYear: ty, targetMonth: tm } }];\n  }\n\n  // 売上請求書（画像）\n  if (parsed.imageType === 'sales_invoice') {\n    const ds = parsed.invoiceDate || parsed.registrationDate || today;\n    const dp = ds.split('/');\n    const ty = parseInt(dp[0]), tm = parseInt(dp[1]);\n    return [{ json: { valid: true, messageType: 'sales', ...parsed, registrationDate: today, userId, replyToken,\n      fileName: `経営管理_${ty}年${tm}月.xlsx`, targetYear: ty, targetMonth: tm } }];\n  }\n\n  // 通帳・クレカ明細（複数件）\n  if (parsed.entries && parsed.entries.length > 0) {\n    const ds = parsed.entries[0].date || today;\n    const dp = ds.split('/');\n    const ty = parseInt(dp[0]), tm = parseInt(dp[1]);\n    return [{ json: { valid: true, messageType: 'multi_expense', imageType: parsed.imageType,\n      entries: parsed.entries, userId, replyToken,\n      fileName: `経営管理_${ty}年${tm}月.xlsx`, targetYear: ty, targetMonth: tm } }];\n  }\n\n  return [{ json: { valid: false, replyToken, errorMessage: '画像の解析結果を処理できませんでした。' } }];\n}\n\nif (msgType !== 'text') {\n  return [{ json: { valid: false, replyToken, errorMessage: 'テキストまたは画像のみ対応しています' } }];\n}\nif (msgText === 'ヘルプ' || msgText === 'help') {\n  return [{ json: { valid: true, messageType: 'query_help', userId, replyToken,\n    fileName: defaultFile, targetYear: y, targetMonth: mo } }];\n}\n\nconst prompt = `今日は${today}です。以下のメッセージを解析しJSONのみ返答。\n\nメッセージ:「${msgText}」\n\n分類:\n- expense: 経費（現金払い・小口経費）\n- subcontractor_invoice: 外注業者からの請求書受け取り（外注費の登録）\n- subcontractor_payment: 外注業者への支払い記録\n- sales: 売上・請求登録\n- payment_received: 売上の入金記録\n- query: 照会\n- unknown: 不明\n\n【勘定科目一覧（expenseCategoryに使用）】\n◎原則OK: 旅費交通費（電車代・高速代・駐車場代・宿泊代）/通信費（切手・電話・FAX・インターネット）/水道光熱費（電気・ガス・水道）/荷造運賃（宅急便代）/外注費（業務委託費）/広告宣伝費（掲載料・チラシ・贈答用品）/支払手数料（振込手数料）/保険料（火災・自動車保険）/租税公課（印紙税・自動車税）/リース料（複合機・車リース）/支払利息（借入金利息）/消耗品費（10万未満PC・コピー代・文房具）/法定福利費（健康保険・労災・雇用保険事業主分）/諸会費（業界団体年会費・カード年会費）/新聞図書費（業務関連書籍・新聞）/雑費（いずれにも該当しない経費）\n⚠要確認: 会議費（会議の飲食代・会場費）/接待交際費（取引先ゴルフ・慶弔金・手土産・飲食）/地代家賃（事務所・店舗家賃・月極駐車場）/車両運搬具（車両購入）/福利厚生費（健康診断・慰安旅行）/給与（従業員給料・賃金・手当・賞与）/減価償却費（固定資産の今年の償却額）\n\nrequiresReview: ⚠要確認の種別はtrue、それ以外はfalse\n\nqueryType候補: 未払い確認/未入金確認/今月サマリー/粗利確認/支払期限確認/経費詳細/特定種別詳細/給与サマリー/従業員別給与/業者別外注費/案件別外注費/得意先別売上/案件別売上/入金済み確認/今月収支/来月支払予定/滞留確認/前月比較/四半期サマリー/今月グラフ/今年グラフ/前年比較\n\n返答例:\nexpense(OK): {\"messageType\":\"expense\",\"date\":\"${today}\",\"expenseCategory\":\"消耗品費\",\"requiresReview\":false,\"paymentMethod\":\"現金\",\"storeName\":\"コメリ\",\"projectName\":\"\",\"amount\":5000,\"note\":\"\"}\nexpense(要確認): {\"messageType\":\"expense\",\"date\":\"${today}\",\"expenseCategory\":\"接待交際費\",\"requiresReview\":true,\"paymentMethod\":\"現金\",\"storeName\":\"○○食堂\",\"projectName\":\"\",\"amount\":15000,\"note\":\"\"}\nsubcontractor_invoice: {\"messageType\":\"subcontractor_invoice\",\"registrationDate\":\"${today}\",\"vendorName\":\"梶原通信\",\"projectName\":\"△△工事\",\"amountExTax\":50000,\"tax\":5000,\"totalAmount\":55000}\nsubcontractor_payment: {\"messageType\":\"subcontractor_payment\",\"vendorName\":\"梶原通信\",\"paymentAmount\":55000,\"paymentDate\":\"${today}\"}\nsales: {\"messageType\":\"sales\",\"registrationDate\":\"${today}\",\"clientName\":\"港振興業株式会社\",\"projectName\":\"△△工事\",\"amountExTax\":100000,\"tax\":10000,\"totalAmount\":110000,\"invoiceDate\":\"${today}\",\"paymentDueDate\":\"2026/05/31\"}\npayment_received: {\"messageType\":\"payment_received\",\"clientName\":\"港振興業株式会社\",\"receivedAmount\":110000,\"receivedDate\":\"${today}\"}\nquery: {\"messageType\":\"query\",\"queryType\":\"未払い確認\"}\n特定種別: {\"messageType\":\"query\",\"queryType\":\"特定種別詳細\",\"targetCategory\":\"旅費交通費\"}\n従業員別給与: {\"messageType\":\"query\",\"queryType\":\"従業員別給与\",\"targetEmployee\":\"野添優\"}\n前年比較: {\"messageType\":\"query\",\"queryType\":\"前年比較\"}`;\n\nconst res = await this.helpers.httpRequest({\n  method: 'POST', url: 'https://api.anthropic.com/v1/messages',\n  headers: { 'x-api-key': claudeKey, 'anthropic-version': '2023-06-01', 'content-type': 'application/json' },\n  body: { model: 'claude-haiku-4-5-20251001', max_tokens: 500,\n    messages: [{ role: 'user', content: prompt }] },\n  json: true\n});\nlet parsed;\ntry {\n  const txt = res.content[0].text.trim();\n  parsed = JSON.parse((txt.match(/\\{[\\s\\S]*\\}/) || [txt])[0]);\n} catch(e) {\n  return [{ json: { valid: false, replyToken, errorMessage: 'メッセージを解析できませんでした。再送してください。' } }];\n}\nif (parsed.messageType === 'unknown') {\n  return [{ json: { valid: false, replyToken, errorMessage: '内容を認識できませんでした。\\n「ヘルプ」で使い方を確認できます。' } }];\n}\nconst ds = parsed.date || parsed.registrationDate || today;\nconst dp = ds.split('/');\nconst ty = parseInt(dp[0]), tm = parseInt(dp[1]);\nreturn [{ json: { valid: true, ...parsed, userId, replyToken,\n  fileName: `経営管理_${ty}年${tm}月.xlsx`, targetYear: ty, targetMonth: tm } }];\n"
      },
      "name": "LINEメッセージ解析",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        220,
        380
      ],
      "id": "bm-v3-parse"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        },
        "options": {
          "typeValidation": "loose"
        }
      },
      "name": "バリデーション確認",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        440,
        380
      ],
      "id": "bm-v3-valid"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "startsWith",
              "value2": "query"
            }
          ]
        },
        "options": {
          "typeValidation": "loose"
        }
      },
      "name": "書込み照会判定",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        380
      ],
      "id": "bm-v3-route"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/root:/業務管理システム/経費管理/月次/{{ $json.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftDriveOAuth2Api",
        "options": {}
      },
      "name": "月次ファイル情報取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        500
      ],
      "id": "bm-v3-fileinfo-w",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/root:/業務管理システム/経費管理/月次/{{ $json.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftDriveOAuth2Api",
        "options": {}
      },
      "name": "月次ファイル情報取得（照会）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        220
      ],
      "id": "bm-v3-fileinfo-q",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst ExcelJS = require('exceljs');\nreturn await (async () => {\n  const data = $('LINEメッセージ解析').first().json;\n  const fileInfo = $('月次ファイル情報取得').first().json;\n  try {\n    const wb = new ExcelJS.Workbook();\n    const dlUrl = fileInfo['@microsoft.graph.downloadUrl'];\n    if (dlUrl) {\n      try {\n        const r = await this.helpers.httpRequest({ method:'GET', url:dlUrl, encoding:'arraybuffer', returnFullResponse:false });\n        await wb.xlsx.load(Buffer.from(r), { useSharedStrings: false });\n      } catch(e) {}\n    }\n    const toDate = s => { if(!s)return null; const p=s.split('/'); return new Date(Date.UTC(+p[0],+p[1]-1,+p[2])); };\n    // 会社別 入金期限ルール\n    const PAYMENT_RULES = {\n      'オークコミュニケーション': { months: 2, day: 10 },  // 翌々月10日\n      '平成システム': { cutoffDay: 20 }                    // 20日締め翌月末\n    };\n    const calcPaymentDue = (regDateStr, clientName) => {\n      const rd = toDate(regDateStr);\n      if (!rd) return null;\n      const rule = PAYMENT_RULES[clientName];\n      if (rule) {\n        if (rule.cutoffDay) {\n          // N日締め: 登録日<=締日→当月締め翌月末, >締日→翌月締め翌々月末\n          const add = rd.getDate() <= rule.cutoffDay ? 1 : 2;\n          return new Date(Date.UTC(rd.getFullYear(), rd.getMonth() + add + 1, 0));\n        }\n        const dm = rd.getMonth() + rule.months;\n        return new Date(Date.UTC(rd.getFullYear() + Math.floor(dm/12), dm%12, rule.day));\n      }\n      // デフォルト: 翌月末\n      return new Date(Date.UTC(rd.getFullYear(), rd.getMonth()+2, 0));\n    };\n    const getV = c => (c&&typeof c==='object'&&'result'in c)?c.result:c;\n    // 外注業者別 支払期限ルール\n    const SUBCON_RULES = {\n      '秀電工': { months: 2, day: 10 }  // 翌々月10日（服部秀一の屋号）\n    };\n    const calcSubconDue = (regDateStr, vendorName) => {\n      const rd = toDate(regDateStr);\n      if (!rd) return null;\n      const rule = SUBCON_RULES[vendorName];\n      if (rule) {\n        const dm = rd.getMonth() + rule.months;\n        return new Date(Date.UTC(rd.getFullYear() + Math.floor(dm/12), dm%12, rule.day));\n      }\n      return new Date(Date.UTC(rd.getFullYear(), rd.getMonth()+2, 0));\n    };\n    const ensure = (name, hdrs) => {\n      let s = wb.getWorksheet(name);\n      if (!s) { s=wb.addWorksheet(name); const h=s.getRow(1); hdrs.forEach((v,i)=>h.getCell(i+1).value=v); h.font={bold:true}; h.commit(); }\n      return s;\n    };\n    const lastR = (s, col) => { let r=1; s.eachRow((row,n)=>{ if(n>=2&&getV(row.getCell(col).value)!=null&&getV(row.getCell(col).value)!=='')r=n; }); return r; };\n    const mt = data.messageType;\n\n    if (mt === 'expense') {\n      const s = ensure('経費', ['No','日付','経費種類','支払方法','店名・支払先','案件名','金額（税込）','備考','確認フラグ']);\n      const nr = lastR(s,2)+1; const row = s.getRow(nr);\n      row.getCell(1).value=nr-1;\n      row.getCell(2).value=toDate(data.date); row.getCell(2).numFmt='YYYY/MM/DD';\n      row.getCell(3).value=data.expenseCategory; row.getCell(4).value=data.paymentMethod;\n      row.getCell(5).value=data.storeName; row.getCell(6).value=data.projectName||'';\n      row.getCell(7).value=data.amount; row.getCell(7).numFmt='#,##0';\n      row.getCell(8).value=data.note||''; row.getCell(9).value=data.requiresReview?'⚠ 要確認':''; row.commit();\n\n    } else if (mt === 'multi_expense') {\n      // 通帳・クレカ明細の複数件経費\n      const s = ensure('経費', ['No','日付','経費種類','支払方法','店名・支払先','案件名','金額（税込）','備考','確認フラグ']);\n      const entries = data.entries || [];\n      let totalAmt = 0; let hasReview = false;\n      for (const entry of entries) {\n        const nr = lastR(s,2)+1; const row = s.getRow(nr);\n        const amt = entry.amount || 0;\n        row.getCell(1).value = nr-1;\n        row.getCell(2).value = toDate(entry.date); row.getCell(2).numFmt='YYYY/MM/DD';\n        row.getCell(3).value = entry.expenseCategory||'雑費';\n        row.getCell(4).value = entry.paymentMethod||'口座引落';\n        row.getCell(5).value = entry.storeName||'';\n        row.getCell(7).value = amt; row.getCell(7).numFmt='#,##0';\n        row.getCell(9).value = entry.requiresReview ? '⚠ 要確認' : '';\n        row.commit();\n        totalAmt += amt;\n        if (entry.requiresReview) hasReview = true;\n      }\n      data.entryCount = entries.length;\n      data.totalAmount = totalAmt;\n      data.hasReview = hasReview;\n\n    } else if (mt === 'subcontractor_invoice') {\n      const s = ensure('外注管理', ['No','登録日','業者名','種別','インボイス','案件名','請求額(税抜)','消費税(10%)','合計(税込)','請求日','支払期限','支払日','支払額','状況']);\n      const nr = lastR(s,2)+1; const row = s.getRow(nr);\n      const exTax = data.amountExTax || 0;\n      const tax = data.tax !== undefined ? data.tax : Math.floor(exTax * 0.1);\n      const total = data.totalAmount || (exTax + tax);\n      const due = calcSubconDue(data.registrationDate, data.vendorName);\n      const dueStr = due ? `${due.getUTCFullYear()}/${String(due.getUTCMonth()+1).padStart(2,'0')}/${String(due.getUTCDate()).padStart(2,'0')}` : '';\n      row.getCell(1).value=nr-1;\n      row.getCell(2).value=toDate(data.registrationDate); row.getCell(2).numFmt='YYYY/MM/DD';\n      row.getCell(3).value=data.vendorName;\n      row.getCell(6).value=data.projectName||'';\n      row.getCell(7).value=exTax; row.getCell(7).numFmt='#,##0';\n      row.getCell(8).value=tax; row.getCell(8).numFmt='#,##0';\n      row.getCell(9).value=total; row.getCell(9).numFmt='#,##0';\n      const invDate = data.invoiceDate || data.registrationDate; row.getCell(10).value=toDate(invDate); row.getCell(10).numFmt='YYYY/MM/DD';\n      if(due){row.getCell(11).value=due; row.getCell(11).numFmt='YYYY/MM/DD';}\n      row.getCell(14).value='未払'; row.commit();\n      data.calculatedDue = dueStr; data.totalAmount = total; data.tax = tax; data.amountExTax = exTax;\n\n    } else if (mt === 'subcontractor_payment') {\n      const s = ensure('外注管理', ['No','登録日','業者名','種別','インボイス','案件名','請求額(税抜)','消費税(10%)','合計(税込)','請求日','支払期限','支払日','支払額','状況']);\n      let target = null;\n      s.eachRow((row,n)=>{ if(n<2||target)return; if(getV(row.getCell(3).value)===data.vendorName&&getV(row.getCell(14).value)==='未払')target=row; });\n      if (!target) return [{ json: { valid:false, replyToken:data.replyToken, errorMessage:`${data.vendorName}の未払い請求が見つかりません` } }];\n      target.getCell(12).value=toDate(data.paymentDate); target.getCell(12).numFmt='YYYY/MM/DD';\n      target.getCell(13).value=data.paymentAmount; target.getCell(13).numFmt='#,##0';\n      target.getCell(14).value='支払済'; target.commit();\n\n    } else if (mt === 'sales') {\n      const s = ensure('売上管理', ['No','登録日','得意先名','案件名','請求額(税抜)','消費税(10%)','合計(税込)','請求日','入金期限','入金日','入金額','状況']);\n      const nr = lastR(s,2)+1; const row = s.getRow(nr);\n      row.getCell(1).value=nr-1;\n      row.getCell(2).value=toDate(data.registrationDate); row.getCell(2).numFmt='YYYY/MM/DD';\n      row.getCell(3).value=data.clientName; row.getCell(4).value=data.projectName||'';\n      row.getCell(5).value=data.amountExTax; row.getCell(5).numFmt='#,##0';\n      row.getCell(6).value=data.tax; row.getCell(6).numFmt='#,##0';\n      row.getCell(7).value=data.totalAmount; row.getCell(7).numFmt='#,##0';\n      row.getCell(8).value=toDate(data.invoiceDate); row.getCell(8).numFmt='YYYY/MM/DD';\n      const dueDate = data.paymentDueDate ? toDate(data.paymentDueDate) : calcPaymentDue(data.registrationDate, data.clientName); if(dueDate){row.getCell(9).value=dueDate; row.getCell(9).numFmt='YYYY/MM/DD';}\n      row.getCell(12).value='未入金'; row.commit();\n\n    } else if (mt === 'payment_received') {\n      const s = ensure('売上管理', ['No','登録日','得意先名','案件名','請求額(税抜)','消費税(10%)','合計(税込)','請求日','入金期限','入金日','入金額','状況']);\n      let target = null;\n      s.eachRow((row,n)=>{ if(n<2||target)return; if(getV(row.getCell(3).value)===data.clientName&&getV(row.getCell(12).value)==='未入金')target=row; });\n      if (!target) return [{ json: { valid:false, replyToken:data.replyToken, errorMessage:`${data.clientName}の未入金請求が見つかりません` } }];\n      target.getCell(10).value=toDate(data.receivedDate); target.getCell(10).numFmt='YYYY/MM/DD';\n      target.getCell(11).value=data.receivedAmount; target.getCell(11).numFmt='#,##0';\n      target.getCell(12).value='入金済'; target.commit();\n    } else if (mt === 'payslip') {\n      const s = ensure('給与管理', ['No','支払日','従業員名','基本給','手当合計','支給合計','社会保険料','所得税','住民税','控除合計','差引支給額']);\n      const nr = lastR(s,2)+1; const row = s.getRow(nr);\n      row.getCell(1).value = nr-1;\n      row.getCell(2).value = toDate(data.paymentDate); row.getCell(2).numFmt='YYYY/MM/DD';\n      row.getCell(3).value = data.employeeName||'';\n      row.getCell(4).value = data.baseSalary||0; row.getCell(4).numFmt='#,##0';\n      row.getCell(5).value = data.totalAllowances||0; row.getCell(5).numFmt='#,##0';\n      row.getCell(6).value = data.grossPay||0; row.getCell(6).numFmt='#,##0';\n      row.getCell(7).value = data.socialInsurance||0; row.getCell(7).numFmt='#,##0';\n      row.getCell(8).value = data.incomeTax||0; row.getCell(8).numFmt='#,##0';\n      row.getCell(9).value = data.residenceTax||0; row.getCell(9).numFmt='#,##0';\n      row.getCell(10).value = data.totalDeductions||0; row.getCell(10).numFmt='#,##0';\n      row.getCell(11).value = data.netPay||0; row.getCell(11).numFmt='#,##0';\n      row.commit();\n    }\n\n    // 月次サマリー更新\n    const summary = wb.getWorksheet('月次サマリー');\n    if (summary) {\n      const getV2 = c => (c&&typeof c==='object'&&'result'in c)?c.result:c;\n      const expS=wb.getWorksheet('経費'), subS=wb.getWorksheet('外注管理'), salS=wb.getWorksheet('売上管理');\n      const expCats=['材料費','燃料費','高速料金','駐車場代','工具・消耗品費','通信費','交際費','会議費','事務用品費','広告宣伝費','研修費','福利厚生費','車両維持費','地代家賃','保険料','雑費'];\n      const byCat={};\n      if(expS)expS.eachRow((r,n)=>{ if(n<2)return; const c=getV2(r.getCell(3).value); const a=getV2(r.getCell(7).value)||0; if(c)byCat[c]=(byCat[c]||0)+a; });\n      const expTotal=Object.values(byCat).reduce((a,b)=>a+b,0);\n      let salTotal=0,recvTotal=0;\n      if(salS)salS.eachRow((r,n)=>{ if(n<2)return; const t=getV2(r.getCell(7).value)||0; const st=getV2(r.getCell(12).value); salTotal+=t; if(st==='入金済')recvTotal+=(getV2(r.getCell(11).value)||t); });\n      let subTotal=0,subPaid=0;\n      if(subS)subS.eachRow((r,n)=>{ if(n<2)return; const t=getV2(r.getCell(9).value)||0; const st=getV2(r.getCell(14).value); subTotal+=t; if(st==='支払済')subPaid+=(getV2(r.getCell(13).value)||t); });\n      const grossProfit=salTotal-subTotal-expTotal;\n      const cm={'請求済合計（税込）':salTotal,'入金済合計':recvTotal,'未入金残高':salTotal-recvTotal,\n        '請求受取合計（税込）':subTotal,'支払済合計':subPaid,'未払残高':subTotal-subPaid,\n        '経費合計':expTotal,'■ 粗利（概算）':grossProfit};\n      expCats.forEach(c=>cm[c]=byCat[c]||0);\n      summary.eachRow(row=>{ const lb=String(getV2(row.getCell(1).value)||''); if(cm[lb]!==undefined){row.getCell(2).value=cm[lb]; row.getCell(2).numFmt='#,##0'; row.commit(); } });\n    }\n\n    // OneDriveアップロード\n    const creds = await this.getCredentials('microsoftDriveOAuth2Api');\n    const token = creds.oauthTokenData?.access_token;\n    if (!token) throw new Error('Microsoft認証トークンが取得できません。資格情報を再接続してください。');\n    const buf = await wb.xlsx.writeBuffer({ useSharedStrings: false });\n    const upUrl = fileInfo.id\n      ? `https://graph.microsoft.com/v1.0/me/drive/items/${fileInfo.id}/content`\n      : `https://graph.microsoft.com/v1.0/me/drive/root:/業務管理システム/経費管理/月次/${data.fileName}:/content`;\n    await this.helpers.httpRequest({\n      method:'PUT', url:upUrl,\n      headers:{ 'Authorization':`Bearer ${token}`, 'Content-Type':'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet' },\n      body:Buffer.from(buf), returnFullResponse:false\n    });\n    return [{ json: { ...data, valid: true } }];\n  } catch(e) {\n    return [{ json: { valid:false, replyToken:data.replyToken, errorMessage:e.message } }];\n  }\n})();\n"
      },
      "name": "Excel書き込み＋アップロード",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        500
      ],
      "id": "bm-v3-excel"
    },
    {
      "parameters": {
        "jsCode": "const ExcelJS = require('exceljs');\nreturn await (async () => {\n  const data = $('LINEメッセージ解析').first().json;\n  const replyToken = data.replyToken;\n  const lineToken = 'Bearer YOUR_EXPENSE_LINE_TOKEN';\n  const fmt = n => (n||0).toLocaleString('ja-JP');\n  const qt = data.queryType || '';\n  const getV = c => (c&&typeof c==='object'&&'result'in c)?c.result:c;\n  const dateStr = d => { if(!(d instanceof Date))return String(d||''); const y=d.getFullYear(),m=String(d.getMonth()+1).padStart(2,'0'),dd=String(d.getDate()).padStart(2,'0'); return `${y}/${m}/${dd}`; };\n  const NEED_REVIEW = ['接待交際費','会議費','地代家賃','車両運搬具','福利厚生費','給与','減価償却費'];\n  const COLORS = ['#4e79a7','#f28e2b','#e15759','#76b7b2','#59a14f','#edc948','#b07aa1','#ff9da7','#9c755f','#bab0ac','#4dc9f6','#f67019'];\n\n  const sendText = async (text) => {\n    if (!replyToken) return;\n    await this.helpers.httpRequest({\n      method:'POST', url:'https://api.line.me/v2/bot/message/reply',\n      headers:{'Authorization':lineToken},\n      body:{replyToken, messages:[{type:'text',text}]}, json:true\n    });\n  };\n\n  const makeChart = async (cfg) => {\n    const r = await this.helpers.httpRequest({\n      method:'POST', url:'https://quickchart.io/chart/create',\n      body:{chart:cfg, width:600, height:350, format:'png', backgroundColor:'white'}, json:true\n    });\n    return r.url;\n  };\n\n  const getBuf = async (url) => {\n    const r = await this.helpers.httpRequest({method:'GET',url,encoding:'arraybuffer',returnFullResponse:false});\n    return Buffer.from(r);\n  };\n\n  if (data.messageType === 'query_help') {\n    const msg = `【経営管理システム 使い方】\\n\\n📝 入力:\\n経費 → 種類・店名・金額\\n外注支払 → 業者名・金額・支払日\\n売上登録 → 得意先・案件・金額・入金期限\\n入金記録 → 得意先・金額・入金日\\n\\n📄 PDF/画像送信:\\n給与明細・請求書・クレカ明細\\n\\n🔍 照会:\\n未払い確認/未入金確認\\n今月サマリー/粗利確認\\n支払期限確認/滞留確認\\n経費詳細/[種別名]の詳細\\n給与サマリー/従業員別給与\\n業者別外注費/案件別外注費\\n得意先別売上/案件別売上\\n入金済み確認/今月収支\\n来月支払予定/前月比較\\n四半期サマリー/前年比較\\n今月グラフ/今年グラフ\\nヘルプ`;\n    return [{ json: { replyToken, replyMessage: msg } }];\n  }\n\n  const fileInfo = $('月次ファイル情報取得（照会）').first().json;\n  const dlUrl = fileInfo['@microsoft.graph.downloadUrl'];\n\n  if (!dlUrl && qt !== '今年グラフ' && qt !== '前年比較') {\n    return [{ json: { replyToken, replyMessage: '今月のデータがまだありません。' } }];\n  }\n\n  let wb = null;\n  if (dlUrl) {\n    const res = await this.helpers.httpRequest({method:'GET',url:dlUrl,encoding:'arraybuffer',returnFullResponse:false});\n    wb = new ExcelJS.Workbook();\n    await wb.xlsx.load(Buffer.from(res), {useSharedStrings:false});\n  }\n\n  if (qt === '未払い確認') {\n    const s = wb && wb.getWorksheet('外注管理');\n    if (!s) return [{ json: { replyToken, replyMessage: '外注管理データがありません。' } }];\n    const list = [];\n    s.eachRow((row,n)=>{ if(n<2)return; const v=getV(row.getCell(3).value),st=getV(row.getCell(14).value); if(v&&st==='未払'){const a=getV(row.getCell(9).value)||0,dd=dateStr(getV(row.getCell(11).value));list.push(`${v}\\n  ¥${fmt(a)}  期限:${dd||'未設定'}`);} });\n    return [{ json: { replyToken, replyMessage: list.length?`【未払い一覧】\\n\\n${list.join('\\n\\n')}\\n\\n計${list.length}件`:'✅ 未払いはありません' } }];\n  }\n\n  if (qt === '未入金確認') {\n    const s = wb && wb.getWorksheet('売上管理');\n    if (!s) return [{ json: { replyToken, replyMessage: '売上管理データがありません。' } }];\n    const list = [];\n    s.eachRow((row,n)=>{ if(n<2)return; const c=getV(row.getCell(3).value),st=getV(row.getCell(12).value); if(c&&st==='未入金'){const a=getV(row.getCell(7).value)||0,dd=dateStr(getV(row.getCell(9).value));list.push(`${c}\\n  ¥${fmt(a)}  期限:${dd||'未設定'}`);} });\n    return [{ json: { replyToken, replyMessage: list.length?`【未入金一覧】\\n\\n${list.join('\\n\\n')}\\n\\n計${list.length}件`:'✅ 未入金はありません' } }];\n  }\n\n  if (qt === '今月サマリー' || qt === '粗利確認') {\n    if (!wb) return [{ json: { replyToken, replyMessage: 'データがありません。' } }];\n    let salTotal=0,recvTotal=0,subTotal=0,expTotal=0;\n    const salS=wb.getWorksheet('売上管理'),subS=wb.getWorksheet('外注管理'),expS=wb.getWorksheet('経費');\n    if(salS)salS.eachRow((r,n)=>{if(n<2)return;const t=Number(getV(r.getCell(7).value))||0;const st=getV(r.getCell(12).value);salTotal+=t;if(st==='入金済')recvTotal+=Number(getV(r.getCell(11).value))||t;});\n    if(subS)subS.eachRow((r,n)=>{if(n<2)return;const t=Number(getV(r.getCell(9).value))||0;subTotal+=t;});\n    if(expS)expS.eachRow((r,n)=>{if(n<2)return;const a=Number(getV(r.getCell(7).value))||0;expTotal+=a;});\n    const gross=salTotal-subTotal-expTotal;\n    const msg=`【今月サマリー】\\n\\n■ 売上\\n請求済: ¥${fmt(salTotal)}\\n入金済: ¥${fmt(recvTotal)}\\n未入金: ¥${fmt(salTotal-recvTotal)}\\n\\n■ 外注費\\n合計: ¥${fmt(subTotal)}\\n\\n■ 経費\\n合計: ¥${fmt(expTotal)}\\n\\n■ 粗利（概算）\\n¥${fmt(gross)}`;\n    return [{ json: { replyToken, replyMessage: msg } }];\n  }\n\n  if (qt === '支払期限確認') {\n    const s = wb && wb.getWorksheet('外注管理');\n    if (!s) return [{ json: { replyToken, replyMessage: '外注管理データがありません。' } }];\n    const now=new Date(), limit=new Date(now.getTime()+7*86400000), list=[];\n    s.eachRow((row,n)=>{ if(n<2)return; const v=getV(row.getCell(3).value),st=getV(row.getCell(14).value),dd=getV(row.getCell(11).value); if(v&&st==='未払'&&dd instanceof Date&&dd<=limit){const a=getV(row.getCell(9).value)||0;list.push(`${v}\\n  ¥${fmt(a)}  期限:${dateStr(dd)}`);} });\n    return [{ json: { replyToken, replyMessage: list.length?`【支払期限（1週間以内）】\\n\\n${list.join('\\n\\n')}\\n\\n計${list.length}件`:'✅ 1週間以内の支払期限はありません' } }];\n  }\n\n  if (qt === '経費詳細') {\n    const ws = wb && wb.getWorksheet('経費');\n    if (!ws) return [{ json: { replyToken, replyMessage: '経費データがありません。' } }];\n    const byC = {};\n    ws.eachRow((row,n)=>{\n      if(n<2)return;\n      const cat=getV(row.getCell(3).value), amt=Number(getV(row.getCell(7).value))||0;\n      if(!cat||!amt)return;\n      const dt=dateStr(getV(row.getCell(2).value)), store=getV(row.getCell(5).value)||'-';\n      if(!byC[cat])byC[cat]={items:[],total:0};\n      byC[cat].items.push(`  ${dt} ${store} ¥${fmt(amt)}`);\n      byC[cat].total+=amt;\n    });\n    if(!Object.keys(byC).length) return [{ json: { replyToken, replyMessage: '今月の経費データがありません。' } }];\n    const lines=[`【今月の経費詳細】\\n`];\n    for(const [cat,d] of Object.entries(byC)){\n      const flag=NEED_REVIEW.includes(cat)?'⚠':'◎';\n      lines.push(`■ ${cat} ${flag}\\n  合計: ¥${fmt(d.total)}\\n${d.items.join('\\n')}`);\n    }\n    return [{ json: { replyToken, replyMessage: lines.join('\\n\\n') } }];\n  }\n\n  if (qt === '特定種別詳細') {\n    const tc = data.targetCategory||'';\n    const ws = wb && wb.getWorksheet('経費');\n    if (!ws) return [{ json: { replyToken, replyMessage: '経費データがありません。' } }];\n    const flag=NEED_REVIEW.includes(tc)?'⚠ 要確認':'◎';\n    const items=[]; let total=0;\n    ws.eachRow((row,n)=>{\n      if(n<2)return;\n      const cat=getV(row.getCell(3).value);\n      if(cat!==tc)return;\n      const amt=Number(getV(row.getCell(7).value))||0;\n      if(!amt)return;\n      items.push(`${dateStr(getV(row.getCell(2).value))} ${getV(row.getCell(5).value)||'-'} ¥${fmt(amt)}`);\n      total+=amt;\n    });\n    if(!items.length) return [{ json: { replyToken, replyMessage: `${tc} の記録はありません。` } }];\n    return [{ json: { replyToken, replyMessage: `【${tc}の明細】 ${flag}\\n合計: ¥${fmt(total)}\\n\\n${items.join('\\n')}` } }];\n  }\n\n  if (qt === '今月グラフ') {\n    if (!wb) { await sendText('今月のデータがまだありません。'); return [{ json: { done:true } }]; }\n    const ws_exp=wb.getWorksheet('経費'), ws_sal=wb.getWorksheet('売上管理'), ws_sub=wb.getWorksheet('外注管理');\n    let salTotal=0,subTotal=0,expTotal=0;\n    const expByCat={}, byClient={}, byVendor={};\n    if(ws_exp) ws_exp.eachRow((r,n)=>{ if(n<2)return; const cat=getV(r.getCell(3).value),amt=Number(getV(r.getCell(7).value))||0; if(!cat||!amt)return; expByCat[cat]=(expByCat[cat]||0)+amt; expTotal+=amt; });\n    if(ws_sal) ws_sal.eachRow((r,n)=>{ if(n<2)return; const c=getV(r.getCell(3).value),t=Number(getV(r.getCell(7).value))||0; if(!c||!t)return; byClient[c]=(byClient[c]||0)+t; salTotal+=t; });\n    if(ws_sub) ws_sub.eachRow((r,n)=>{ if(n<2)return; const v=getV(r.getCell(3).value),t=Number(getV(r.getCell(9).value))||0; if(!v||!t)return; byVendor[v]=(byVendor[v]||0)+t; subTotal+=t; });\n    const gross=salTotal-subTotal-expTotal;\n    const jst=new Date(new Date().getTime()+9*3600000);\n    const lbl=`${jst.getFullYear()}年${jst.getMonth()+1}月`;\n    const [u1,u2,u3,u4] = await Promise.all([\n      makeChart({type:'bar',data:{labels:['売上','外注費','経費','粗利'],datasets:[{label:lbl,backgroundColor:['#4e79a7','#f28e2b','#e15759','#59a14f'],data:[salTotal,subTotal,expTotal,Math.max(0,gross)]}]},options:{plugins:{title:{display:true,text:`【${lbl}】収支サマリー`}},scales:{y:{ticks:{callback:v=>'¥'+v.toLocaleString('ja-JP')}}}}}),\n      makeChart({type:'doughnut',data:{labels:Object.keys(byClient),datasets:[{data:Object.values(byClient),backgroundColor:COLORS}]},options:{plugins:{title:{display:true,text:`【${lbl}】元請会社別売上比率`}}}}),\n      makeChart({type:'pie',data:{labels:Object.keys(expByCat),datasets:[{data:Object.values(expByCat),backgroundColor:COLORS}]},options:{plugins:{title:{display:true,text:`【${lbl}】経費種別内訳`}}}}),\n      makeChart({type:'doughnut',data:{labels:Object.keys(byVendor),datasets:[{data:Object.values(byVendor),backgroundColor:COLORS}]},options:{plugins:{title:{display:true,text:`【${lbl}】外注費業者比率`}}}})\n    ]);\n    const [b1,b2,b3,b4] = await Promise.all([getBuf(u1),getBuf(u2),getBuf(u3),getBuf(u4)]);\n    let gs=wb.getWorksheet('グラフ'); if(!gs)gs=wb.addWorksheet('グラフ');\n    gs.getCell('A1').value=`${lbl} グラフ`;\n    [[b1,1],[b2,22],[b3,43],[b4,64]].forEach(([buf,row])=>{ const id=wb.addImage({buffer:buf,extension:'png'}); gs.addImage(id,{tl:{col:0,row},ext:{width:600,height:350}}); });\n    const creds=await this.getCredentials('microsoftDriveOAuth2Api');\n    const token=creds.oauthTokenData?.access_token;\n    if(token){\n      const out=await wb.xlsx.writeBuffer({useSharedStrings:false});\n      const upUrl=fileInfo.id?`https://graph.microsoft.com/v1.0/me/drive/items/${fileInfo.id}/content`:`https://graph.microsoft.com/v1.0/me/drive/root:/業務管理システム/経費管理/月次/${data.fileName}:/content`;\n      await this.helpers.httpRequest({method:'PUT',url:upUrl,headers:{'Authorization':`Bearer ${token}`,'Content-Type':'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'},body:Buffer.from(out),returnFullResponse:false});\n    }\n    const summary=`【${lbl}】グラフ\\n\\n売上: ¥${fmt(salTotal)}\\n外注費: ¥${fmt(subTotal)}\\n経費: ¥${fmt(expTotal)}\\n粗利: ¥${fmt(gross)}`;\n    if(replyToken){\n      await this.helpers.httpRequest({method:'POST',url:'https://api.line.me/v2/bot/message/reply',headers:{'Authorization':lineToken},body:{replyToken,messages:[{type:'text',text:summary},{type:'image',originalContentUrl:u1,previewImageUrl:u1},{type:'image',originalContentUrl:u2,previewImageUrl:u2},{type:'image',originalContentUrl:u3,previewImageUrl:u3},{type:'image',originalContentUrl:u4,previewImageUrl:u4}]},json:true});\n    }\n    return [{ json: { done:true } }];\n  }\n\n  if (qt === '今年グラフ') {\n    const ty=data.targetYear||new Date().getFullYear();\n    const creds=await this.getCredentials('microsoftDriveOAuth2Api');\n    const token=creds.oauthTokenData?.access_token;\n    if(!token){ await sendText('認証エラーが発生しました。'); return [{ json:{done:true} }]; }\n    const yUrl=`https://graph.microsoft.com/v1.0/me/drive/root:/業務管理システム/経費管理/年次/年間サマリー_${ty}年.xlsx`;\n    let yInfo;\n    try{ yInfo=await this.helpers.httpRequest({method:'GET',url:yUrl,headers:{'Authorization':`Bearer ${token}`},json:true}); }catch(e){ await sendText(`${ty}年の年次データがまだありません。`); return [{ json:{done:true} }]; }\n    const yDl=yInfo['@microsoft.graph.downloadUrl'];\n    if(!yDl){ await sendText('年次ファイルが取得できませんでした。'); return [{ json:{done:true} }]; }\n    const yRes=await this.helpers.httpRequest({method:'GET',url:yDl,encoding:'arraybuffer',returnFullResponse:false});\n    const ywb=new ExcelJS.Workbook();\n    await ywb.xlsx.load(Buffer.from(yRes),{useSharedStrings:false});\n    const mbS=ywb.getWorksheet('月別収支'), cS=ywb.getWorksheet('得意先別売上'), vS=ywb.getWorksheet('業者別外注費'), eS=ywb.getWorksheet('経費種類別');\n    const months=['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'];\n    const salArr=new Array(12).fill(0), subArr=new Array(12).fill(0), expArr=new Array(12).fill(0), grArr=new Array(12).fill(0);\n    if(mbS) mbS.eachRow((r,n)=>{ if(n<2)return; const m=months.indexOf(String(getV(r.getCell(1).value)||'')); if(m<0)return; salArr[m]=Number(getV(r.getCell(2).value))||0; subArr[m]=Number(getV(r.getCell(5).value))||0; expArr[m]=Number(getV(r.getCell(8).value))||0; grArr[m]=Number(getV(r.getCell(10).value))||0; });\n    const byC={}, byV={}, byE={};\n    if(cS) cS.eachRow((r,n)=>{ if(n<2)return; const nm=getV(r.getCell(1).value); if(!nm)return; let t=0; for(let i=2;i<=13;i++)t+=Number(getV(r.getCell(i).value))||0; if(t)byC[nm]=t; });\n    if(vS) vS.eachRow((r,n)=>{ if(n<2)return; const nm=getV(r.getCell(1).value); if(!nm)return; let t=0; for(let i=2;i<=13;i++)t+=Number(getV(r.getCell(i).value))||0; if(t)byV[nm]=t; });\n    if(eS) eS.eachRow((r,n)=>{ if(n<2)return; const nm=getV(r.getCell(1).value); if(!nm)return; let t=0; for(let i=2;i<=13;i++)t+=Number(getV(r.getCell(i).value))||0; if(t)byE[nm]=t; });\n    const [u1,u2,u3,u4] = await Promise.all([\n      makeChart({type:'bar',data:{labels:months,datasets:[{label:'売上',backgroundColor:'#4e79a7',data:salArr},{label:'外注費',backgroundColor:'#f28e2b',data:subArr},{label:'経費',backgroundColor:'#e15759',data:expArr},{label:'粗利',backgroundColor:'#59a14f',data:grArr}]},options:{plugins:{title:{display:true,text:`【${ty}年】月別収支推移`}},scales:{y:{ticks:{callback:v=>'¥'+v.toLocaleString('ja-JP')}}}}}),\n      makeChart({type:'doughnut',data:{labels:Object.keys(byC),datasets:[{data:Object.values(byC),backgroundColor:COLORS}]},options:{plugins:{title:{display:true,text:`【${ty}年】元請会社別売上比率`}}}}),\n      makeChart({type:'pie',data:{labels:Object.keys(byE),datasets:[{data:Object.values(byE),backgroundColor:COLORS}]},options:{plugins:{title:{display:true,text:`【${ty}年】経費種別内訳`}}}}),\n      makeChart({type:'doughnut',data:{labels:Object.keys(byV),datasets:[{data:Object.values(byV),backgroundColor:COLORS}]},options:{plugins:{title:{display:true,text:`【${ty}年】外注費業者比率`}}}})\n    ]);\n    const [b1,b2,b3,b4]=await Promise.all([getBuf(u1),getBuf(u2),getBuf(u3),getBuf(u4)]);\n    let gs=ywb.getWorksheet('グラフ'); if(!gs)gs=ywb.addWorksheet('グラフ');\n    gs.getCell('A1').value=`${ty}年 グラフ`;\n    [[b1,1],[b2,22],[b3,43],[b4,64]].forEach(([buf,row])=>{ const id=ywb.addImage({buffer:buf,extension:'png'}); gs.addImage(id,{tl:{col:0,row},ext:{width:600,height:350}}); });\n    const out=await ywb.xlsx.writeBuffer({useSharedStrings:false});\n    const upUrl=yInfo.id?`https://graph.microsoft.com/v1.0/me/drive/items/${yInfo.id}/content`:`https://graph.microsoft.com/v1.0/me/drive/root:/業務管理システム/経費管理/年次/年間サマリー_${ty}年.xlsx:/content`;\n    await this.helpers.httpRequest({method:'PUT',url:upUrl,headers:{'Authorization':`Bearer ${token}`,'Content-Type':'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'},body:Buffer.from(out),returnFullResponse:false});\n    const salTot=salArr.reduce((a,b)=>a+b,0), subTot=subArr.reduce((a,b)=>a+b,0), expTot=expArr.reduce((a,b)=>a+b,0), grTot=grArr.reduce((a,b)=>a+b,0);\n    const summary=`【${ty}年】年間グラフ\\n\\n売上合計: ¥${fmt(salTot)}\\n外注費合計: ¥${fmt(subTot)}\\n経費合計: ¥${fmt(expTot)}\\n粗利合計: ¥${fmt(grTot)}`;\n    if(replyToken){\n      await this.helpers.httpRequest({method:'POST',url:'https://api.line.me/v2/bot/message/reply',headers:{'Authorization':lineToken},body:{replyToken,messages:[{type:'text',text:summary},{type:'image',originalContentUrl:u1,previewImageUrl:u1},{type:'image',originalContentUrl:u2,previewImageUrl:u2},{type:'image',originalContentUrl:u3,previewImageUrl:u3},{type:'image',originalContentUrl:u4,previewImageUrl:u4}]},json:true});\n    }\n    return [{ json: { done:true } }];\n  }\n\n  if (qt === '給与サマリー') {\n    const s = wb && wb.getWorksheet('給与管理');\n    if (!s) return [{ json: { replyToken, replyMessage: '今月の給与データがありません。' } }];\n    const byEmp={}; let totG=0,totD=0,totN=0;\n    s.eachRow((row,n)=>{ if(n<2)return; const emp=getV(row.getCell(3).value)||'不明'; const g=getV(row.getCell(6).value)||0; const d=getV(row.getCell(10).value)||0; const net=getV(row.getCell(11).value)||0; byEmp[emp]=byEmp[emp]||{g:0,d:0,net:0}; byEmp[emp].g+=g; byEmp[emp].d+=d; byEmp[emp].net+=net; totG+=g; totD+=d; totN+=net; });\n    const lines=Object.entries(byEmp).map(([e,v])=>`・${e}: 支給¥${fmt(v.g)} 控除¥${fmt(v.d)} 手取¥${fmt(v.net)}`);\n    if(!lines.length) return [{ json: { replyToken, replyMessage: '今月の給与データがありません。' } }];\n    return [{ json: { replyToken, replyMessage: `【給与サマリー】\\n\\n${lines.join('\\n')}\\n\\n合計支給: ¥${fmt(totG)}\\n合計控除: ¥${fmt(totD)}\\n合計手取: ¥${fmt(totN)}` } }];\n  }\n\n  if (qt === '従業員別給与') {\n    const s = wb && wb.getWorksheet('給与管理');\n    const target = data.targetEmployee || '';\n    if (!s) return [{ json: { replyToken, replyMessage: '今月の給与データがありません。' } }];\n    const rows=[];\n    s.eachRow((row,n)=>{ if(n<2)return; const emp=getV(row.getCell(3).value)||''; if(target&&emp!==target)return; const dt=dateStr(getV(row.getCell(2).value)); const g=getV(row.getCell(6).value)||0; const d=getV(row.getCell(10).value)||0; const net=getV(row.getCell(11).value)||0; rows.push(`${dt} ${emp}\\n  支給¥${fmt(g)} 控除¥${fmt(d)} 手取¥${fmt(net)}`); });\n    if(!rows.length) return [{ json: { replyToken, replyMessage: `${target||'対象'}の給与データがありません。` } }];\n    return [{ json: { replyToken, replyMessage: `【${target||'全員'}の給与明細】\\n\\n${rows.join('\\n')}` } }];\n  }\n\n  if (qt === '業者別外注費') {\n    const s = wb && wb.getWorksheet('外注管理');\n    if (!s) return [{ json: { replyToken, replyMessage: '今月の外注データがありません。' } }];\n    const byV={}; let tot=0;\n    s.eachRow((row,n)=>{ if(n<2)return; const v=getV(row.getCell(3).value)||'不明'; const a=getV(row.getCell(9).value)||0; byV[v]=(byV[v]||0)+a; tot+=a; });\n    const sorted=Object.entries(byV).sort((a,b)=>b[1]-a[1]);\n    if(!sorted.length) return [{ json: { replyToken, replyMessage: '今月の外注データがありません。' } }];\n    const lines=sorted.map(([v,a])=>`・${v}: ¥${fmt(a)}`);\n    return [{ json: { replyToken, replyMessage: `【業者別外注費】\\n\\n${lines.join('\\n')}\\n\\n合計: ¥${fmt(tot)}` } }];\n  }\n\n  if (qt === '案件別外注費') {\n    const s = wb && wb.getWorksheet('外注管理');\n    if (!s) return [{ json: { replyToken, replyMessage: '今月の外注データがありません。' } }];\n    const byP={}; let tot=0;\n    s.eachRow((row,n)=>{ if(n<2)return; const p=getV(row.getCell(6).value)||'未設定'; const a=getV(row.getCell(9).value)||0; byP[p]=(byP[p]||0)+a; tot+=a; });\n    const sorted=Object.entries(byP).sort((a,b)=>b[1]-a[1]);\n    if(!sorted.length) return [{ json: { replyToken, replyMessage: '今月の外注データがありません。' } }];\n    const lines=sorted.map(([p,a])=>`・${p}: ¥${fmt(a)}`);\n    return [{ json: { replyToken, replyMessage: `【案件別外注費】\\n\\n${lines.join('\\n')}\\n\\n合計: ¥${fmt(tot)}` } }];\n  }\n\n  if (qt === '得意先別売上') {\n    const s = wb && wb.getWorksheet('売上管理');\n    if (!s) return [{ json: { replyToken, replyMessage: '今月の売上データがありません。' } }];\n    const byC={}; let tot=0;\n    s.eachRow((row,n)=>{ if(n<2)return; const c=getV(row.getCell(3).value)||'不明'; const a=getV(row.getCell(7).value)||0; byC[c]=(byC[c]||0)+a; tot+=a; });\n    const sorted=Object.entries(byC).sort((a,b)=>b[1]-a[1]);\n    if(!sorted.length) return [{ json: { replyToken, replyMessage: '今月の売上データがありません。' } }];\n    const lines=sorted.map(([c,a])=>`・${c}: ¥${fmt(a)}`);\n    return [{ json: { replyToken, replyMessage: `【得意先別売上】\\n\\n${lines.join('\\n')}\\n\\n合計: ¥${fmt(tot)}` } }];\n  }\n\n  if (qt === '案件別売上') {\n    const s = wb && wb.getWorksheet('売上管理');\n    if (!s) return [{ json: { replyToken, replyMessage: '今月の売上データがありません。' } }];\n    const items=[];\n    s.eachRow((row,n)=>{ if(n<2)return; const p=getV(row.getCell(4).value)||'未設定'; const a=getV(row.getCell(7).value)||0; const st=getV(row.getCell(12).value)||''; items.push(`・${p}: ¥${fmt(a)} (${st})`); });\n    if(!items.length) return [{ json: { replyToken, replyMessage: '今月の売上データがありません。' } }];\n    return [{ json: { replyToken, replyMessage: `【案件別売上】\\n\\n${items.join('\\n')}` } }];\n  }\n\n  if (qt === '入金済み確認') {\n    const s = wb && wb.getWorksheet('売上管理');\n    if (!s) return [{ json: { replyToken, replyMessage: '今月の売上データがありません。' } }];\n    const rows=[]; let tot=0;\n    s.eachRow((row,n)=>{ if(n<2)return; if(getV(row.getCell(12).value)!=='入金済')return; const c=getV(row.getCell(3).value)||''; const dt=dateStr(getV(row.getCell(10).value)); const a=getV(row.getCell(11).value)||0; rows.push(`・${c}: ¥${fmt(a)} (${dt})`); tot+=a; });\n    if(!rows.length) return [{ json: { replyToken, replyMessage: '今月の入金済みデータがありません。' } }];\n    return [{ json: { replyToken, replyMessage: `【入金済み確認】\\n\\n${rows.join('\\n')}\\n\\n合計: ¥${fmt(tot)}` } }];\n  }\n\n    if (qt === '今月収支') {\n    let incTot=0, expTot=0, subPaidTot=0, salTot=0;\n    const salS=wb&&wb.getWorksheet('売上管理'); if(salS)salS.eachRow((r,n)=>{if(n<2)return;if(getV(r.getCell(12).value)==='入金済')incTot+=(getV(r.getCell(11).value)||0);});\n    const expS=wb&&wb.getWorksheet('経費'); if(expS)expS.eachRow((r,n)=>{if(n<2)return;expTot+=(getV(r.getCell(7).value)||0);});\n    const subS=wb&&wb.getWorksheet('外注管理'); if(subS)subS.eachRow((r,n)=>{if(n<2)return;if(getV(r.getCell(14).value)==='支払済')subPaidTot+=(getV(r.getCell(13).value)||0);});\n    const salWS=wb&&wb.getWorksheet('給与管理'); if(salWS)salWS.eachRow((r,n)=>{if(n<2)return;salTot+=(getV(r.getCell(11).value)||0);});\n    const outflow=expTot+subPaidTot+salTot;\n    const net=incTot-outflow;\n    const msg=`【今月収支】\\n\\n📥 収入\\n・売上入金: ¥${fmt(incTot)}\\n\\n📤 支出\\n・経費: ¥${fmt(expTot)}\\n・外注支払: ¥${fmt(subPaidTot)}\\n・給与: ¥${fmt(salTot)}\\n合計支出: ¥${fmt(outflow)}\\n\\n${net>=0?'▲':'▼'} 差引: ¥${fmt(Math.abs(net))} (${net>=0?'黒字':'赤字'})`;\n    return [{ json: { replyToken, replyMessage: msg } }];\n  }\n\n  if (qt === '来月支払予定') {\n    const y=data.targetYear, mo=data.targetMonth;\n    const nd=new Date(Date.UTC(y,mo,1)); const ny=nd.getFullYear(), nm=nd.getMonth()+1;\n    const items=[]; let tot=0;\n    const subS=wb&&wb.getWorksheet('外注管理');\n    if(subS)subS.eachRow((r,n)=>{\n      if(n<2)return; if(getV(r.getCell(14).value)==='支払済')return;\n      const due=getV(r.getCell(11).value); if(!due)return;\n      const ds=dateStr(due); if(!ds)return;\n      const dp=ds.split('/'); if(parseInt(dp[0])!==ny||parseInt(dp[1])!==nm)return;\n      const v=getV(r.getCell(3).value)||''; const a=getV(r.getCell(9).value)||0;\n      items.push(`・${v} (${ds}): ¥${fmt(a)}`); tot+=a;\n    });\n    const salWS=wb&&wb.getWorksheet('給与管理'); let salSum=0;\n    if(salWS)salWS.eachRow((r,n)=>{if(n<2)return;salSum+=(getV(r.getCell(11).value)||0);});\n    if(salSum>0){items.push(`・給与支払(${ny}/${String(nm).padStart(2,'0')}/10): ¥${fmt(salSum)}`); tot+=salSum;}\n    if(!items.length) return [{ json: { replyToken, replyMessage: `${ny}年${nm}月の支払予定はありません。` } }];\n    return [{ json: { replyToken, replyMessage: `【来月(${ny}年${nm}月)支払予定】\\n\\n${items.join('\\n')}\\n\\n合計予定: ¥${fmt(tot)}` } }];\n  }\n\n  if (qt === '滞留確認') {\n    const todayD=new Date(Date.now()+9*3600000);\n    const todayMs=Date.UTC(todayD.getUTCFullYear(),todayD.getUTCMonth(),todayD.getUTCDate());\n    const diff=ms=>Math.floor((todayMs-ms)/(86400000));\n    const toMs=v=>{ if(!v)return null; if(v instanceof Date)return v.getTime(); const s=String(v).replace(/\\//g,'-'); const d=new Date(s); return isNaN(d)?null:d.getTime(); };\n    const items=[];\n    const salS=wb&&wb.getWorksheet('売上管理');\n    if(salS)salS.eachRow((r,n)=>{\n      if(n<2)return; if(getV(r.getCell(12).value)!=='未入金')return;\n      const ms=toMs(getV(r.getCell(9).value)); if(!ms)return;\n      const d=diff(ms); if(d<=0)return;\n      const c=getV(r.getCell(3).value)||''; const a=getV(r.getCell(7).value)||0;\n      items.push(`📌 売上未入金: ${c} ¥${fmt(a)} (${d}日超過)`);\n    });\n    const subS=wb&&wb.getWorksheet('外注管理');\n    if(subS)subS.eachRow((r,n)=>{\n      if(n<2)return; if(getV(r.getCell(14).value)==='支払済')return;\n      const ms=toMs(getV(r.getCell(11).value)); if(!ms)return;\n      const d=diff(ms); if(d<=0)return;\n      const v=getV(r.getCell(3).value)||''; const a=getV(r.getCell(9).value)||0;\n      items.push(`⚠️ 外注未払: ${v} ¥${fmt(a)} (${d}日超過)`);\n    });\n    if(!items.length) return [{ json: { replyToken, replyMessage: '滞留している入金・支払はありません。' } }];\n    return [{ json: { replyToken, replyMessage: `【滞留確認】\\n\\n${items.join('\\n')}` } }];\n  }\n\n    if (qt === '前月比較') {\n    const y=data.targetYear, mo=data.targetMonth;\n    const py=mo===1?y-1:y, pm=mo===1?12:mo-1;\n    const creds=await this.getCredentials('microsoftDriveOAuth2Api');\n    const token=creds.oauthTokenData?.access_token;\n    let prevWb=null;\n    if(token){\n      try{\n        const pInfo=await this.helpers.httpRequest({method:'GET',url:`https://graph.microsoft.com/v1.0/me/drive/root:/業務管理システム/経費管理/月次/経営管理_${py}年${pm}月.xlsx`,headers:{'Authorization':`Bearer ${token}`},json:true});\n        const pDl=pInfo['@microsoft.graph.downloadUrl'];\n        if(pDl){const pRes=await this.helpers.httpRequest({method:'GET',url:pDl,encoding:'arraybuffer',returnFullResponse:false}); prevWb=new ExcelJS.Workbook(); await prevWb.xlsx.load(Buffer.from(pRes),{useSharedStrings:false});}\n      }catch(e){}\n    }\n    const getTotals=(book)=>{\n      let sal=0,exp=0,sub=0;\n      const sS=book&&book.getWorksheet('売上管理'); if(sS)sS.eachRow((r,n)=>{if(n<2)return;sal+=(getV(r.getCell(7).value)||0);});\n      const eS=book&&book.getWorksheet('経費'); if(eS)eS.eachRow((r,n)=>{if(n<2)return;exp+=(getV(r.getCell(7).value)||0);});\n      const uS=book&&book.getWorksheet('外注管理'); if(uS)uS.eachRow((r,n)=>{if(n<2)return;sub+=(getV(r.getCell(9).value)||0);});\n      return {sal,exp,sub,gross:sal-exp-sub};\n    };\n    const cur=getTotals(wb); const prev=getTotals(prevWb);\n    const arr=(c,p)=>c>p?'↑':c<p?'↓':'→';\n    const msg=`【前月比較】\\n${py}年${pm}月 → ${y}年${mo}月\\n\\n売上:  ¥${fmt(prev.sal)} → ¥${fmt(cur.sal)} ${arr(cur.sal,prev.sal)}\\n経費:  ¥${fmt(prev.exp)} → ¥${fmt(cur.exp)} ${arr(cur.exp,prev.exp)}\\n外注費: ¥${fmt(prev.sub)} → ¥${fmt(cur.sub)} ${arr(cur.sub,prev.sub)}\\n粗利:  ¥${fmt(prev.gross)} → ¥${fmt(cur.gross)} ${arr(cur.gross,prev.gross)}`;\n    return [{ json: { replyToken, replyMessage: msg } }];\n  }\n\n  if (qt === '四半期サマリー') {\n    const y=data.targetYear, mo=data.targetMonth;\n    const creds=await this.getCredentials('microsoftDriveOAuth2Api');\n    const token=creds.oauthTokenData?.access_token;\n    if(!token){await sendText('認証エラーが発生しました。'); return [{json:{done:true}}];}\n    const loadWb=async(ly,lm)=>{\n      try{\n        const info=await this.helpers.httpRequest({method:'GET',url:`https://graph.microsoft.com/v1.0/me/drive/root:/業務管理システム/経費管理/月次/経営管理_${ly}年${lm}月.xlsx`,headers:{'Authorization':`Bearer ${token}`},json:true});\n        const dl=info['@microsoft.graph.downloadUrl']; if(!dl)return null;\n        const res=await this.helpers.httpRequest({method:'GET',url:dl,encoding:'arraybuffer',returnFullResponse:false});\n        const b=new ExcelJS.Workbook(); await b.xlsx.load(Buffer.from(res),{useSharedStrings:false}); return b;\n      }catch(e){return null;}\n    };\n    const mList=[];\n    for(let i=2;i>=0;i--){const d=new Date(Date.UTC(y,mo-1-i,1)); mList.push({y:d.getFullYear(),m:d.getMonth()+1});}\n    const books=await Promise.all(mList.map(({y:ly,m:lm},i)=>i===2&&wb?Promise.resolve(wb):loadWb(ly,lm)));\n    const getTotals=(book)=>{\n      let sal=0,exp=0,sub=0;\n      const sS=book&&book.getWorksheet('売上管理'); if(sS)sS.eachRow((r,n)=>{if(n<2)return;sal+=(getV(r.getCell(7).value)||0);});\n      const eS=book&&book.getWorksheet('経費'); if(eS)eS.eachRow((r,n)=>{if(n<2)return;exp+=(getV(r.getCell(7).value)||0);});\n      const uS=book&&book.getWorksheet('外注管理'); if(uS)uS.eachRow((r,n)=>{if(n<2)return;sub+=(getV(r.getCell(9).value)||0);});\n      return {sal,exp,sub,gross:sal-exp-sub};\n    };\n    let totSal=0,totExp=0,totSub=0,totGross=0;\n    const lines=mList.map(({y:ly,m:lm},i)=>{\n      const t=getTotals(books[i]);\n      totSal+=t.sal; totExp+=t.exp; totSub+=t.sub; totGross+=t.gross;\n      return `【${ly}年${lm}月】\\n売上¥${fmt(t.sal)} / 経費¥${fmt(t.exp)} / 外注¥${fmt(t.sub)} / 粗利¥${fmt(t.gross)}`;\n    });\n    lines.push(`\\n【3ヶ月合計】\\n売上¥${fmt(totSal)} / 経費¥${fmt(totExp)} / 外注¥${fmt(totSub)} / 粗利¥${fmt(totGross)}`);\n    return [{json:{replyToken,replyMessage:`【四半期サマリー】\\n\\n${lines.join('\\n\\n')}`}}];\n  }\n\n  if (qt === '前年比較') {\n    const ty=data.targetYear||new Date().getFullYear(); const py=ty-1;\n    const creds=await this.getCredentials('microsoftDriveOAuth2Api');\n    const token=creds.oauthTokenData?.access_token;\n    if(!token){await sendText('認証エラーが発生しました。'); return [{json:{done:true}}];}\n    const loadYear=async(yr)=>{\n      try{\n        const info=await this.helpers.httpRequest({method:'GET',url:`https://graph.microsoft.com/v1.0/me/drive/root:/業務管理システム/経費管理/年次/年間サマリー_${yr}年.xlsx`,headers:{'Authorization':`Bearer ${token}`},json:true});\n        const dl=info['@microsoft.graph.downloadUrl']; if(!dl)return null;\n        const res=await this.helpers.httpRequest({method:'GET',url:dl,encoding:'arraybuffer',returnFullResponse:false});\n        const b=new ExcelJS.Workbook(); await b.xlsx.load(Buffer.from(res),{useSharedStrings:false}); return b;\n      }catch(e){return null;}\n    };\n    const [curWb,prevWb]=await Promise.all([loadYear(ty),loadYear(py)]);\n    if(!prevWb){await sendText(`${py}年の年次データがまだありません。`); return [{json:{done:true}}];}\n    const getAnnual=(book)=>{\n      let sal=0,exp=0,sub=0;\n      const mb=book&&book.getWorksheet('月別収支');\n      if(mb)mb.eachRow((r,n)=>{if(n<2||n>13)return; sal+=(getV(r.getCell(2).value)||0); exp+=(getV(r.getCell(8).value)||0); sub+=(getV(r.getCell(5).value)||0);});\n      return {sal,exp,sub,gross:sal-exp-sub};\n    };\n    const cur=getAnnual(curWb); const prev=getAnnual(prevWb);\n    const arr=(c,p)=>c>p?'↑':c<p?'↓':'→';\n    const pct=(c,p)=>p?`${((c-p)/p*100).toFixed(1)}%`:'N/A';\n    const months=['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'];\n    let mLines='';\n    const curMb=curWb&&curWb.getWorksheet('月別収支'); const prevMb=prevWb&&prevWb.getWorksheet('月別収支');\n    if(curMb&&prevMb){\n      const mData=months.map((ml,i)=>{\n        const cr=curMb.getRow(i+2), pr=prevMb.getRow(i+2);\n        const cs=getV(cr.getCell(2).value)||0, ps=getV(pr.getCell(2).value)||0;\n        const cg=getV(cr.getCell(10).value)||0, pg=getV(pr.getCell(10).value)||0;\n        return `${ml}: 売上${arr(cs,ps)} 粗利${arr(cg,pg)}`;\n      }).join(' / ');\n      mLines=`\\n\\n月別トレンド(↑↓):\\n${mData}`;\n    }\n    const msg=`【前年比較】\\n${py}年 → ${ty}年\\n\\n売上:  ¥${fmt(prev.sal)} → ¥${fmt(cur.sal)} ${arr(cur.sal,prev.sal)} (${pct(cur.sal,prev.sal)})\\n経費:  ¥${fmt(prev.exp)} → ¥${fmt(cur.exp)} ${arr(cur.exp,prev.exp)}\\n外注費: ¥${fmt(prev.sub)} → ¥${fmt(cur.sub)} ${arr(cur.sub,prev.sub)}\\n粗利:  ¥${fmt(prev.gross)} → ¥${fmt(cur.gross)} ${arr(cur.gross,prev.gross)} (${pct(cur.gross,prev.gross)})${mLines}`;\n    return [{json:{replyToken,replyMessage:msg}}];\n  }\n\n    return [{ json: { replyToken, replyMessage: '照会コマンドが認識できませんでした。\\n「ヘルプ」で確認してください。' } }];\n})();"
      },
      "name": "照会処理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        220
      ],
      "id": "bm-v3-query"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        },
        "options": {
          "typeValidation": "loose"
        }
      },
      "name": "書込み結果確認",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        500
      ],
      "id": "bm-v3-writecheck"
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json;\nconst mt = data.messageType;\nconst fmt = n => (n||0).toLocaleString('ja-JP');\nconst msgs = {\n  expense: `✅ 経費を記録しました\\n\\n日付: ${data.date}\\n種類: ${data.expenseCategory}${data.requiresReview?' ⚠要確認':''}\\n支払方法: ${data.paymentMethod}\\n店名: ${data.storeName}\\n金額: ¥${fmt(data.amount)}${data.note?'\\n備考: '+data.note:''}`,\n  multi_expense: `✅ ${data.entryCount}件の経費を記録しました\\n\\n${data.imageType==='bank_statement'?'📋 通帳・引き落とし明細':'💳 クレジットカード明細'}\\n合計: ¥${fmt(data.totalAmount)}${data.hasReview?'\\n\\n⚠ 要確認の項目が含まれています\\n税理士に確認してください':''}`,\n  subcontractor_invoice: `✅ 外注請求を記録しました\\n\\n業者: ${data.vendorName}\\n案件: ${data.projectName||'未設定'}\\n請求額(税抜): ¥${fmt(data.amountExTax)}\\n消費税: ¥${fmt(data.tax)}\\n合計: ¥${fmt(data.totalAmount)}${data.calculatedDue?'\\n支払期限: '+data.calculatedDue:''}\\n状況: 未払`,\n  subcontractor_payment: `✅ 外注支払を記録しました\\n\\n業者: ${data.vendorName}\\n支払日: ${data.paymentDate}\\n支払額: ¥${fmt(data.paymentAmount)}\\n状況: 支払済に更新`,\n  sales: `✅ 売上を記録しました\\n\\n得意先: ${data.clientName}\\n案件: ${data.projectName||'未設定'}\\n請求額(税抜): ¥${fmt(data.amountExTax)}\\n消費税: ¥${fmt(data.tax)}\\n合計: ¥${fmt(data.totalAmount)}\\n請求日: ${data.invoiceDate}${data.calculatedDue?'\\n入金期限: '+data.calculatedDue:data.paymentDueDate?'\\n入金期限: '+data.paymentDueDate:''}\\n状況: 未入金`,\n  payslip: `✅ 給与明細を記録しました\\n\\n従業員: ${data.employeeName}\\n支払日: ${data.paymentDate}\\n基本給: ¥${fmt(data.baseSalary)}\\n支給合計: ¥${fmt(data.grossPay)}\\n控除合計: ¥${fmt(data.totalDeductions)}\\n差引支給額: ¥${fmt(data.netPay)}`,\n  payment_received: `✅ 入金を記録しました\\n\\n得意先: ${data.clientName}\\n入金日: ${data.receivedDate}\\n入金額: ¥${fmt(data.receivedAmount)}\\n状況: 入金済に更新`,\n};\nconst replyMessage = msgs[mt] || '✅ 記録しました';\nreturn [{ json: { replyToken: data.replyToken, replyMessage } }];"
      },
      "name": "成功メッセージ生成",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        400
      ],
      "id": "bm-v3-successmsg"
    },
    {
      "parameters": {
        "jsCode": "\nconst lineToken = 'Bearer hoTr1JKdr9gU2d0t7gqwHL87fIBVv6TopFIMTVzjBncyUIHEjY5jes3+oZH1WmC8tR58LwxKD+s6KaYp6ok+mPxGsCEbxQzeHF1yGfX/BLLhM51R5PIIfy4VtDbGBKHXTHi8ls5KwMf7jEN7dg/LTAdB04t89/1O/w1cDnyilFU=';\nconst replyToken = $json.replyToken;\nconst text = $json.replyMessage || 'お疲れ様です';\nif (replyToken) {\n  await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.line.me/v2/bot/message/reply',\n    headers: { 'Authorization': lineToken },\n    body: { replyToken, messages: [{ type: 'text', text }] },\n    json: true\n  });\n}\nreturn [{ json: { done: true } }];\n"
      },
      "name": "LINE返信（成功）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2200,
        400
      ],
      "id": "bm-v3-reply-ok"
    },
    {
      "parameters": {
        "jsCode": "const lineToken = 'Bearer hoTr1JKdr9gU2d0t7gqwHL87fIBVv6TopFIMTVzjBncyUIHEjY5jes3+oZH1WmC8tR58LwxKD+s6KaYp6ok+mPxGsCEbxQzeHF1yGfX/BLLhM51R5PIIfy4VtDbGBKHXTHi8ls5KwMf7jEN7dg/LTAdB04t89/1O/w1cDnyilFU=';\nif ($json.done) return [{ json: { done: true } }];\nconst replyToken = $json.replyToken;\nconst text = $json.replyMessage || 'お疲れ様です';\nif (replyToken) {\n  await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.line.me/v2/bot/message/reply',\n    headers: { 'Authorization': lineToken },\n    body: { replyToken, messages: [{ type: 'text', text }] },\n    json: true\n  });\n}\nreturn [{ json: { done: true } }];"
      },
      "name": "LINE返信（照会）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1320,
        220
      ],
      "id": "bm-v3-reply-q"
    },
    {
      "parameters": {
        "jsCode": "\nconst lineToken = 'Bearer hoTr1JKdr9gU2d0t7gqwHL87fIBVv6TopFIMTVzjBncyUIHEjY5jes3+oZH1WmC8tR58LwxKD+s6KaYp6ok+mPxGsCEbxQzeHF1yGfX/BLLhM51R5PIIfy4VtDbGBKHXTHi8ls5KwMf7jEN7dg/LTAdB04t89/1O/w1cDnyilFU=';\nconst replyToken = $json.replyToken;\nconst text = $json.errorMessage || '❌ エラーが発生しました\\nもう一度送信してください';\nif (replyToken) {\n  await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.line.me/v2/bot/message/reply',\n    headers: { 'Authorization': lineToken },\n    body: { replyToken, messages: [{ type: 'text', text }] },\n    json: true\n  });\n}\nreturn [{ json: { done: true } }];\n"
      },
      "name": "LINE返信（エラー）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        620
      ],
      "id": "bm-v3-reply-err"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/root:/業務管理システム/経費管理/年次/年間サマリー_{{ $json.targetYear }}年.xlsx",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftDriveOAuth2Api",
        "options": {}
      },
      "name": "年次ファイル情報取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1540,
        500
      ],
      "id": "bm-v3-yearly-info",
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "jsCode": "\nconst ExcelJS = require('exceljs');\nreturn await (async () => {\n  const data = $('LINEメッセージ解析').first().json;\n  const monthlyWb = new ExcelJS.Workbook();\n  const monthlyFile = $('月次ファイル情報取得').first().json;\n  const yearlyFile = $('年次ファイル情報取得').first().json;\n  try {\n    // 月次ファイルを読み込み\n    const dlUrl = monthlyFile['@microsoft.graph.downloadUrl'];\n    if (!dlUrl) return [{ json: { yearlyDone: false } }];\n    const mRes = await this.helpers.httpRequest({ method:'GET', url:dlUrl, encoding:'arraybuffer', returnFullResponse:false });\n    await monthlyWb.xlsx.load(Buffer.from(mRes), { useSharedStrings: false });\n    const getV = c => (c&&typeof c==='object'&&'result'in c)?c.result:c;\n\n    // 月次データ集計\n    const expS=monthlyWb.getWorksheet('経費'), subS=monthlyWb.getWorksheet('外注管理'), salS=monthlyWb.getWorksheet('売上管理');\n    const expCats=['旅費交通費','通信費','水道光熱費','荷造運賃','外注費','広告宣伝費','支払手数料','保険料','租税公課','リース料','支払利息','消耗品費','法定福利費','諸会費','新聞図書費','会議費','接待交際費','地代家賃','車両運搬具','福利厚生費','給与','減価償却費','雑費'];\n    const byCat={};\n    if(expS)expS.eachRow((r,n)=>{ if(n<2)return; const c=getV(r.getCell(3).value); const a=getV(r.getCell(7).value)||0; if(c)byCat[c]=(byCat[c]||0)+a; });\n    const expTotal=Object.values(byCat).reduce((a,b)=>a+b,0);\n\n    let salTotal=0,recvTotal=0;\n    const byClient={};\n    if(salS)salS.eachRow((r,n)=>{ if(n<2)return; const t=getV(r.getCell(7).value)||0; const st=getV(r.getCell(12).value); const cl=getV(r.getCell(3).value)||''; salTotal+=t; byClient[cl]=(byClient[cl]||0)+t; if(st==='入金済')recvTotal+=(getV(r.getCell(11).value)||t); });\n\n    let subTotal=0,subPaid=0;\n    const byVendor={};\n    if(subS)subS.eachRow((r,n)=>{ if(n<2)return; const t=getV(r.getCell(9).value)||0; const st=getV(r.getCell(14).value); const vn=getV(r.getCell(3).value)||''; subTotal+=t; byVendor[vn]=(byVendor[vn]||0)+t; if(st==='支払済')subPaid+=(getV(r.getCell(13).value)||t); });\n\n    const grossProfit=salTotal-subTotal-expTotal;\n    const month=data.targetMonth; // 1-12\n    const dataCol=month+1; // 月別シートは B列=1月, C列=2月...\n    const monthLabel=`${month}月`;\n\n    // 年次ファイル読み込み or 新規作成\n    const yearlyWb = new ExcelJS.Workbook();\n    const yDlUrl = yearlyFile['@microsoft.graph.downloadUrl'];\n    if(yDlUrl){\n      try{\n        const yRes=await this.helpers.httpRequest({ method:'GET', url:yDlUrl, encoding:'arraybuffer', returnFullResponse:false });\n        await yearlyWb.xlsx.load(Buffer.from(yRes),{useSharedStrings:false});\n      }catch(e){}\n    }\n\n    // ① 月別収支シート更新\n    let mbSheet=yearlyWb.getWorksheet('月別収支');\n    if(!mbSheet){\n      mbSheet=yearlyWb.addWorksheet('月別収支');\n      const h=mbSheet.getRow(1);\n      ['月','売上請求','入金済','未入金','外注費','外注支払','未払','経費','人件費','粗利（概算）'].forEach((v,i)=>h.getCell(i+1).value=v);\n      h.font={bold:true}; h.commit();\n      ['1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月'].forEach((ml,i)=>{\n        const r=mbSheet.getRow(i+2); r.getCell(1).value=ml; r.commit();\n      });\n    }\n    mbSheet.eachRow((row,n)=>{ if(n<2)return; if(getV(row.getCell(1).value)===monthLabel){\n      row.getCell(2).value=salTotal; row.getCell(3).value=recvTotal; row.getCell(4).value=salTotal-recvTotal;\n      row.getCell(5).value=subTotal; row.getCell(6).value=subPaid; row.getCell(7).value=subTotal-subPaid;\n      row.getCell(8).value=expTotal; row.getCell(10).value=grossProfit;\n      [2,3,4,5,6,7,8,9,10].forEach(c=>{row.getCell(c).numFmt='#,##0';});\n      row.commit();\n    }});\n\n    // ② 業者別外注費シート更新\n    let vSheet=yearlyWb.getWorksheet('業者別外注費');\n    if(!vSheet){\n      vSheet=yearlyWb.addWorksheet('業者別外注費');\n      const h=vSheet.getRow(1);\n      ['業者名','1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月','合計'].forEach((v,i)=>h.getCell(i+1).value=v);\n      h.font={bold:true}; h.commit();\n    }\n    Object.entries(byVendor).forEach(([vendor,amt])=>{\n      let found=false;\n      vSheet.eachRow((row,n)=>{ if(n<2||found)return; if(getV(row.getCell(1).value)===vendor){\n        row.getCell(dataCol).value=amt; row.getCell(dataCol).numFmt='#,##0'; row.commit(); found=true;\n      }});\n      if(!found){\n        const nr=vSheet.lastRow?vSheet.lastRow.number+1:2;\n        const row=vSheet.getRow(nr); row.getCell(1).value=vendor; row.getCell(dataCol).value=amt; row.getCell(dataCol).numFmt='#,##0'; row.commit();\n      }\n    });\n\n    // ③ 得意先別売上シート更新\n    let cSheet=yearlyWb.getWorksheet('得意先別売上');\n    if(!cSheet){\n      cSheet=yearlyWb.addWorksheet('得意先別売上');\n      const h=cSheet.getRow(1);\n      ['得意先名','1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月','合計'].forEach((v,i)=>h.getCell(i+1).value=v);\n      h.font={bold:true}; h.commit();\n    }\n    Object.entries(byClient).forEach(([client,amt])=>{\n      let found=false;\n      cSheet.eachRow((row,n)=>{ if(n<2||found)return; if(getV(row.getCell(1).value)===client){\n        row.getCell(dataCol).value=amt; row.getCell(dataCol).numFmt='#,##0'; row.commit(); found=true;\n      }});\n      if(!found){\n        const nr=cSheet.lastRow?cSheet.lastRow.number+1:2;\n        const row=cSheet.getRow(nr); row.getCell(1).value=client; row.getCell(dataCol).value=amt; row.getCell(dataCol).numFmt='#,##0'; row.commit();\n      }\n    });\n\n    // ④ 経費種類別シート更新\n    let eSheet=yearlyWb.getWorksheet('経費種類別');\n    if(!eSheet){\n      eSheet=yearlyWb.addWorksheet('経費種類別');\n      const h=eSheet.getRow(1);\n      ['経費種類','1月','2月','3月','4月','5月','6月','7月','8月','9月','10月','11月','12月','合計'].forEach((v,i)=>h.getCell(i+1).value=v);\n      h.font={bold:true}; h.commit();\n      expCats.forEach((cat,i)=>{ const r=eSheet.getRow(i+2); r.getCell(1).value=cat; r.commit(); });\n    }\n    expCats.forEach(cat=>{\n      eSheet.eachRow((row,n)=>{ if(n<2)return; if(getV(row.getCell(1).value)===cat){\n        row.getCell(dataCol).value=byCat[cat]||0; row.getCell(dataCol).numFmt='#,##0'; row.commit();\n      }});\n    });\n\n    // 年次ファイルをアップロード\n    const creds=await this.getCredentials('microsoftDriveOAuth2Api');\n    const token=creds.oauthTokenData?.access_token;\n    if(!token) return [{ json: { yearlyDone:false, reason:'token error' } }];\n    const buf=await yearlyWb.xlsx.writeBuffer({useSharedStrings:false});\n    const upUrl=yearlyFile.id\n      ?`https://graph.microsoft.com/v1.0/me/drive/items/${yearlyFile.id}/content`\n      :`https://graph.microsoft.com/v1.0/me/drive/root:/業務管理システム/経費管理/年次/年間サマリー_${data.targetYear}年.xlsx:/content`;\n    await this.helpers.httpRequest({\n      method:'PUT', url:upUrl,\n      headers:{'Authorization':`Bearer ${token}`,'Content-Type':'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'},\n      body:Buffer.from(buf), returnFullResponse:false\n    });\n    return [{ json: { yearlyDone:true } }];\n  } catch(e) {\n    return [{ json: { yearlyDone:false, reason:e.message } }];\n  }\n})();\n"
      },
      "name": "年次サマリー更新＋アップロード",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        500
      ],
      "id": "bm-v3-yearly-write"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Webhook応答",
            "type": "main",
            "index": 0
          },
          {
            "node": "LINEメッセージ解析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINEメッセージ解析": {
      "main": [
        [
          {
            "node": "バリデーション確認",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "バリデーション確認": {
      "main": [
        [
          {
            "node": "書込み照会判定",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LINE返信（エラー）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "書込み照会判定": {
      "main": [
        [
          {
            "node": "月次ファイル情報取得（照会）",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "月次ファイル情報取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "月次ファイル情報取得": {
      "main": [
        [
          {
            "node": "Excel書き込み＋アップロード",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "月次ファイル情報取得（照会）": {
      "main": [
        [
          {
            "node": "照会処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel書き込み＋アップロード": {
      "main": [
        [
          {
            "node": "書込み結果確認",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "書込み結果確認": {
      "main": [
        [
          {
            "node": "年次ファイル情報取得",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LINE返信（エラー）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "成功メッセージ生成": {
      "main": [
        [
          {
            "node": "LINE返信（成功）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "照会処理": {
      "main": [
        [
          {
            "node": "LINE返信（照会）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "年次ファイル情報取得": {
      "main": [
        [
          {
            "node": "年次サマリー更新＋アップロード",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "年次サマリー更新＋アップロード": {
      "main": [
        [
          {
            "node": "成功メッセージ生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  }
}