workflows/daily_report_workflow_v4_fixed.json
{
  "name": "日報システム v4 (Google Sheets)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "caed4a49",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        400
      ],
      "webhookId": "996e5063-bcab-45ae-8a64-cbc1ee5a0bf1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "9123ec27",
      "name": "Webhook応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        448,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.first().json.body;\nconst events = body?.events || [];\nif (events.length === 0) return [];\n\nconst event = events[0];\nconst userId = event.source?.userId || '';\nconst messageType_line = event.message?.type;\nconst replyToken = messageType_line === 'text' ? event.replyToken : '';\nconst messageText = event.message?.text || '';\n\nconst EMPLOYEE_MAP = {\n  \"Uc1e1e958fb952752c3d34628a17585a1\": \"野添優\",\n  \"Uf662ab811bee1780522da7356c0efb9e\": \"丸田翔吾\",\n  \"Ua9a65f01bf77adcc825b05811950480d\": \"源地健史\",\n  \"U65929805c0527b9f75b5276fc250c304\": \"服部秀一\",\n  \"Uadfb98160637cc7f96bccb051c4a51f9\": \"梶原通信\",\n  \"Uf97fd2e35007f697094a9520e1baeafd\": \"井本貴士\",\n  \"REPLACE_LLS_USERID\":               \"LLS電気\",\n  \"REPLACE_TRUST_USERID\":             \"株式会社トラストテクノス\",\n  \"REPLACE_RISE_USERID\":              \"株式会社RISE\"\n};\n\nconst employeeName = EMPLOYEE_MAP[userId];\n\nif (messageType_line !== 'text' || !messageText.trim()) {\n  return [];\n}\n\nif (!employeeName) {\n  return [{ json: { valid: false, reason: '未登録ユーザー', userId, replyToken, messageText, messageType: 'invalid' } }];\n}\n\n// メッセージタイプ判定（厳密）\nconst trimmed = messageText.trim();\nconst msgLower = trimmed.toLowerCase();\n\nlet messageType;\nif (trimmed.startsWith('日報')) {\n  messageType = 'daily_report';\n} else if (\n  msgLower.includes('請求') ||\n  msgLower.includes('集計') ||\n  /^\\s*今月\\s*$/.test(trimmed) ||\n  /^\\s*先月\\s*$/.test(trimmed) ||\n  /^\\s*\\d{1,2}月\\s*$/.test(trimmed) ||\n  /^\\s*\\d{4}年\\d{1,2}月\\s*$/.test(trimmed) ||\n  /^\\s*\\d{1,2}\\/\\d{4}\\s*$/.test(trimmed)\n) {\n  messageType = 'billing_query';\n} else {\n  // 不明：日報として扱う（Claudeが解析、失敗ならエラー返信）\n  messageType = 'daily_report';\n}\n\nreturn [{ json: { valid: true, userId, employeeName, messageText, replyToken, messageType } }];\n"
      },
      "id": "a88072f4",
      "name": "LINEメッセージ解析",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond2",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "daily_report",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7567addf",
      "name": "メッセージタイプ判定",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst apiKey = 'YOUR_CLAUDE_API_KEY';\nconst lineToken = 'Bearer YOUR_LINE_TOKEN';\n\nconst notifyError = async (msg) => {\n  if (data.userId) {\n    try {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.line.me/v2/bot/message/push',\n        headers: { 'Authorization': lineToken, 'Content-Type': 'application/json' },\n        body: { to: data.userId, messages: [{ type: 'text', text: msg }] },\n        json: true\n      });\n    } catch(e) {}\n  }\n};\n\nconst systemPrompt = `あなたは日報解析AIです。以下のJSON形式で出力してください。\n{\n  \"date\": \"YYYY/MM/DD\",\n  \"sites\": [\n    {\n      \"companyName\": \"会社名（正式名称・半角）\",\n      \"propertyName\": \"物件名\",\n      \"kubun\": \"昼勤 or 夜勤\",\n      \"startTime\": \"HH:MM\",\n      \"endTime\": \"HH:MM\",\n      \"breakMinutes\": 60,\n      \"workHours\": \"H:MM\",\n      \"workContent\": \"作業内容\",\n      \"highwayFee\": 0,\n      \"distance\": 0,\n      \"parkingFee\": 0,\n      \"materialCost\": 0,\n      \"staffCount\": null,\n      \"staffNames\": null\n    }\n  ]\n}\n\n【正規化ルール】\n- 時刻：「8:30」「8.30」「8時30分」「8半」など全て「08:30」形式に変換\n- 全角英数字・記号は半角に変換（ＦＧＥ→FGE、ｍｔｒ→mtr、Ｇ−ＳＴＹＬＥ→G-STYLE）\n- 区分：「昼」「日勤」→「昼勤」、「夜」→「夜勤」\n\n【会社名の正式化（略称→正式名称）】\n- 平成 / ヘイセイ → 平成システム\n- トラスト → トラストテクノス\n- オーク / オークコム → オークコミュニケーション\n- 千里 → 千里スカイハイツ管理組合\n- 港 / 港振 / コウシン / コウシンギョウ → 港振興業\n- 梶原 → 梶原通信\n- ジースタイル / Gスタイル / G-STYLE → G-STYLE\n- FGE / ＦＧＥ → FGE\n- mtr / ｍｔｒ / MTR → mtr\n- ライズ → ライズ\n- 菊次 → 菊次\n- ページ → ページ\n- LLS / LLS電気 → LLS電気\n\nstaffCount/staffNamesはMULTI_PERSON会社（梶原通信・LLS電気・トラストテクノス・RISE）のみ使用。\n未記載の数値項目（高速・距離・駐車場・資材費）は0としてください。`;\n\nlet response;\ntry {\n  response = await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.anthropic.com/v1/messages',\n    headers: {\n      'x-api-key': apiKey,\n      'anthropic-version': '2023-06-01',\n      'content-type': 'application/json'\n    },\n    body: {\n      model: 'claude-haiku-4-5-20251001',\n      max_tokens: 2048,\n      system: systemPrompt,\n      messages: [{ role: 'user', content: data.messageText }]\n    },\n    json: true\n  });\n} catch(e) {\n  await notifyError(`日報解析サービスがエラーで応答できませんでした。\\n時間をおいて再送してください。`);\n  throw e;\n}\n\nconst claudeResponse = response.content?.[0]?.text || '';\nreturn [{ json: { ...data, claudeResponse } }];\n"
      },
      "id": "9a7e92ef",
      "name": "Claude API呼び出し",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst claudeText = data.claudeResponse || '';\nconst lineToken = 'Bearer YOUR_LINE_TOKEN';\n\nconst sendLineError = async (msg) => {\n  if (data.replyToken) {\n    try {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.line.me/v2/bot/message/reply',\n        headers: { 'Authorization': lineToken, 'Content-Type': 'application/json' },\n        body: { replyToken: data.replyToken, messages: [{ type: 'text', text: msg }] },\n        json: true\n      });\n    } catch(e) {}\n  }\n};\n\nlet parsed;\ntry {\n  const match = claudeText.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('JSONが見つかりません');\n  parsed = JSON.parse(match[0]);\n} catch(e) {\n  await sendLineError(`日報のフォーマットが認識できませんでした。\\n正しいフォーマットで送信してください。`);\n  throw new Error('日報フォーマットエラー: ' + e.message);\n}\n\nif (!parsed.date || !parsed.sites || parsed.sites.length === 0) {\n  await sendLineError(`日付または現場情報が記載されていません。\\n確認してもう一度送信してください。`);\n  throw new Error('日報バリデーションエラー');\n}\n\n// ========= 正規化関数 =========\nconst toHalfWidth = (s) => (s || '').toString().replace(/[Ａ-Ｚａ-ｚ０-９]/g,\n  c => String.fromCharCode(c.charCodeAt(0) - 0xFEE0))\n  .replace(/[‐－―−]/g, '-').replace(/[　]/g, ' ');\n\nconst normalizeTime = (t) => {\n  if (!t) return '';\n  const s = toHalfWidth(t).trim();\n  // 8:30 / 8.30 / 8時30分 / 8 30 / 0830\n  let m = s.match(/^(\\d{1,2})[:\\.時\\s](\\d{1,2})/);\n  if (m) return `${String(m[1]).padStart(2,'0')}:${String(m[2]).padStart(2,'0')}`;\n  m = s.match(/^(\\d{1,2})半/); // 8半 → 08:30\n  if (m) return `${String(m[1]).padStart(2,'0')}:30`;\n  m = s.match(/^(\\d{1,2})$/); // 8 → 08:00\n  if (m) return `${String(m[1]).padStart(2,'0')}:00`;\n  m = s.match(/^(\\d{2})(\\d{2})$/); // 0830\n  if (m) return `${m[1]}:${m[2]}`;\n  return s;\n};\n\nconst COMPANY_ALIASES = {\n  '平成': '平成システム', 'ヘイセイ': '平成システム',\n  'トラスト': 'トラストテクノス',\n  'オーク': 'オークコミュニケーション', 'オークコム': 'オークコミュニケーション',\n  '千里': '千里スカイハイツ管理組合',\n  '港': '港振興業', '港振': '港振興業', 'コウシン': '港振興業', 'コウシンギョウ': '港振興業',\n  '梶原': '梶原通信',\n  'ジースタイル': 'G-STYLE', 'Gスタイル': 'G-STYLE', 'G-STYLE': 'G-STYLE',\n  'FGE': 'FGE', 'mtr': 'mtr', 'MTR': 'mtr',\n  'ライズ': 'ライズ', '菊次': '菊次', 'ページ': 'ページ',\n  'LLS電気': 'LLS電気', 'LLS': 'LLS電気'\n};\n\nconst resolveCompany = (name) => {\n  const n = toHalfWidth(name).trim();\n  if (COMPANY_ALIASES[n]) return COMPANY_ALIASES[n];\n  for (const [alias, full] of Object.entries(COMPANY_ALIASES)) {\n    if (n.includes(alias)) return full;\n  }\n  return n;\n};\n\nconst normalizeKubun = (k) => {\n  const s = (k || '').toString().trim();\n  if (s.includes('夜')) return '夜勤';\n  return '昼勤';\n};\n\n// ========= 各現場を正規化 =========\nconst sites = parsed.sites.map(site => ({\n  ...site,\n  companyName: resolveCompany(site.companyName || ''),\n  propertyName: toHalfWidth(site.propertyName || ''),\n  kubun: normalizeKubun(site.kubun),\n  startTime: normalizeTime(site.startTime),\n  endTime: normalizeTime(site.endTime),\n  breakMinutes: parseInt(site.breakMinutes) || 0,\n  highwayFee: parseInt(site.highwayFee) || 0,\n  distance: parseFloat(site.distance) || 0,\n  parkingFee: parseInt(site.parkingFee) || 0,\n  materialCost: parseInt(site.materialCost) || 0\n}));\n\nconst dateParts = parsed.date.split('/');\nconst fileYear  = parseInt(dateParts[0]);\nconst fileMonth = parseInt(dateParts[1]);\nconst fileName  = `稼働表_${fileYear}年${String(fileMonth).padStart(2,'0')}月`;\n\nreturn [{ json: { ...data, parsedDate: parsed.date, sites, fileName, fileYear, fileMonth } }];\n"
      },
      "id": "09247962",
      "name": "Claude解析結果処理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst siteList = (data.sites || []).map(s =>\n  `・${s.companyName} ${s.propertyName || ''} ${s.kubun || ''} ${s.startTime || ''}〜${s.endTime || ''} (${s.workHours || ''})`\n).join('\\n');\nconst replyMessage = `✅ 日報を記録しました\\n日付: ${data.parsedDate}\\n担当: ${data.employeeName}\\n${siteList}\\nお疲れ様でした`.trim();\nreturn [{ json: { ...data, replyMessage } }];\n"
      },
      "id": "aaa64dcb",
      "name": "成功返信生成",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst lineToken = 'Bearer YOUR_LINE_TOKEN';\nconst data = $input.first().json;\nconst target = data.userId;\nif (target) {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.line.me/v2/bot/message/push',\n    headers: { 'Authorization': lineToken, 'Content-Type': 'application/json' },\n    body: { to: target, messages: [{ type: 'text', text: data.replyMessage }] },\n    json: true\n  });\n}\nreturn [{ json: { done: true } }];\n"
      },
      "id": "38aab03f",
      "name": "LINE返信（成功）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=name='{{ $json.fileName }}' and mimeType='application/vnd.google-apps.spreadsheet' and '1jIj_o7DXsVvDMszZNRReaPU0TWvhEnwv' in parents"
            },
            {
              "name": "spaces",
              "value": "drive"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            }
          ]
        },
        "options": {}
      },
      "id": "b5cb4023",
      "name": "スプレッドシート検索",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EoASV9OF6Sq9t52P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "31bd6466",
      "name": "データ合流",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1984,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\n\nconst normalize = (name) =>\n  (name || '').replace(/株式会社|有限会社|合同会社|一般社団法人|一般財団法人/g, '').trim();\n\nconst BILLING_COMPANIES = [\n  '港振興業', 'トラストテクノス', '平成システム', 'FGE',\n  'mtr', 'オークコミュニケーション', 'ライズ',\n  '千里スカイハイツ管理組合', '菊次', 'ページ', 'G-STYLE', '梶原通信', 'LLS電気'\n];\nconst CLOSING_20 = ['平成システム'];\nconst COMPANY_ALIASES = {\n  '平成': '平成システム', 'トラスト': 'トラストテクノス',\n  'オーク': 'オークコミュニケーション', '千里': '千里スカイハイツ管理組合',\n  '港': '港振興業', '港振': '港振興業', 'コウシン': '港振興業',\n  '梶原': '梶原通信', 'ジースタイル': 'G-STYLE', 'Gスタイル': 'G-STYLE'\n};\n\nconst resolveAlias = (name) => {\n  for (const [alias, full] of Object.entries(COMPANY_ALIASES)) {\n    if (normalize(name).includes(normalize(alias))) return full;\n  }\n  return name;\n};\n\nconst parts = (data.parsedDate || '').split('/');\nconst year  = parseInt(parts[0]) || 0;\nconst month = parseInt(parts[1]) || 0;\nconst day   = parseInt(parts[2]) || 0;\n\nconst billingSites = (data.sites || []).filter(site => {\n  const resolved = resolveAlias(site.companyName);\n  const norm = normalize(resolved);\n  return BILLING_COMPANIES.some(c => norm.includes(normalize(c)) || normalize(c).includes(norm));\n});\n\nif (billingSites.length === 0) return [];\n\nconst groups = {};\nfor (const site of billingSites) {\n  const resolved = resolveAlias(site.companyName);\n  const norm = normalize(resolved);\n  const is20 = CLOSING_20.some(c => norm.includes(normalize(c)) || normalize(c).includes(norm));\n  let bYear = year, bMonth = month;\n  if (is20 && day >= 21) {\n    bMonth = month + 1;\n    if (bMonth > 12) { bMonth = 1; bYear = year + 1; }\n  }\n  const key = `${bYear}-${bMonth}`;\n  if (!groups[key]) groups[key] = { bYear, bMonth, sites: [] };\n  groups[key].sites.push({ ...site, companyName: resolved });\n}\n\nconst results = [];\nfor (const group of Object.values(groups)) {\n  const billingFileName = `請求集計_${group.bYear}年${String(group.bMonth).padStart(2,'0')}月`;\n  results.push({ json: { ...data, billingYear: group.bYear, billingMonth: group.bMonth, billingFileName, billingSites: group.sites } });\n}\nreturn results;\n"
      },
      "id": "709ca69c",
      "name": "請求集計書き込み準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        608
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=name='{{ $json.billingFileName }}' and mimeType='application/vnd.google-apps.spreadsheet' and '1_hE52JdvZ-Nyl-lUyKWzhFN6Lqphp9yA' in parents"
            },
            {
              "name": "spaces",
              "value": "drive"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            }
          ]
        },
        "options": {}
      },
      "id": "2fa7f7ba",
      "name": "請求集計スプレッドシート検索",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EoASV9OF6Sq9t52P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "dac71185",
      "name": "請求集計データ合流",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3968,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst lineToken = 'Bearer YOUR_LINE_TOKEN';\nconst NOZOE_ID = 'Uc1e1e958fb952752c3d34628a17585a1';\nconst items = $input.all();\n\nconst lines = ['請求集計を更新しました'];\nfor (const item of items) {\n  const data = item.json;\n  const companyNames = (data.billingSites || []).map(s => s.companyName).join('、');\n  lines.push(`【${data.billingFileName}】`);\n  lines.push(`担当: ${data.employeeName}`);\n  lines.push(`対象会社: ${companyNames}`);\n  lines.push('');\n}\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.line.me/v2/bot/message/push',\n  headers: { 'Authorization': lineToken, 'Content-Type': 'application/json' },\n  body: { to: NOZOE_ID, messages: [{ type: 'text', text: lines.join('\\n').trim() }] },\n  json: true\n});\nreturn [{ json: { done: true } }];\n"
      },
      "id": "772a33de",
      "name": "野添通知",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4592,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst spreadsheetId = (data.files || [])[0]?.id;\nif (!spreadsheetId) throw new Error(`スプレッドシートが見つかりません: ${data.fileName}`);\nconst sheetName = data.employeeName;\nconst readUrl = `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(sheetName)}!A:D`;\nreturn [{ json: { ...data, spreadsheetId, readUrl } }];\n"
      },
      "id": "dup_url_prep",
      "name": "重複確認URL準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.readUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {
          "response": {
            "response": {
              "neverError": true
            }
          }
        }
      },
      "id": "dup_data_get",
      "name": "既存データ取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2432,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EoASV9OF6Sq9t52P",
          "name": "Google Sheets account"
        }
      },
      "continueOnFail": true,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "dup_merge",
      "name": "データ合流2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2640,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst existingValues = data.values || [];\nconst lineToken = 'Bearer YOUR_LINE_TOKEN';\n\nconst dataRows = existingValues.slice(1);\nconst normDate = (s) => {\n  const t = (s || '').toString().replace(/[\\-\\.]/g, '/').trim();\n  let m = t.match(/^(\\d{4})\\/(\\d{1,2})\\/(\\d{1,2})/);\n  if (m) return `${m[1]}/${m[2].padStart(2,'0')}/${m[3].padStart(2,'0')}`;\n  m = t.match(/^(\\d{4})年(\\d{1,2})月(\\d{1,2})日?/);\n  if (m) return `${m[1]}/${m[2].padStart(2,'0')}/${m[3].padStart(2,'0')}`;\n  return t;\n};\nconst norm = (s) => (s || '').toString().replace(/\\s+/g, '').trim();\n\nconst existingKeys = new Set(\n  dataRows.map(r => `${normDate(r[0])}|${norm(r[2])}|${norm(r[3])}`)\n);\n\nconst sites = data.sites || [];\nconst dups = [];\nfor (const site of sites) {\n  const key = `${normDate(data.parsedDate)}|${norm(site.companyName)}|${norm(site.propertyName)}`;\n  if (existingKeys.has(key)) {\n    dups.push(`${data.parsedDate} ${site.companyName} ${site.propertyName || ''}`);\n  }\n}\n\nif (dups.length > 0) {\n  if (data.replyToken) {\n    try {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.line.me/v2/bot/message/reply',\n        headers: { 'Authorization': lineToken, 'Content-Type': 'application/json' },\n        body: { replyToken: data.replyToken, messages: [{ type: 'text', text:\n          `以下の日報はすでに送信済みです。\\n${dups.map(d => '・' + d).join('\\n')}\\n重複データは記録されませんでした。` }] },\n        json: true\n      });\n    } catch(e) {}\n  }\n  throw new Error(`重複: ${dups.join(' / ')}`);\n}\n\nreturn [{ json: { ...data } }];\n"
      },
      "id": "dup_check",
      "name": "重複チェック",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst items = $input.all();\nconst BILLING_COMPANIES = [\n  '港振興業', 'トラストテクノス', '平成システム', 'FGE',\n  'mtr', 'オークコミュニケーション', 'ライズ',\n  '千里スカイハイツ管理組合', '菊次', 'ページ', 'G-STYLE', '梶原通信', 'LLS電気'\n];\nconst HEADERS = ['日付', '区分', '物件名', '人員名', '人員数', '高速(円)', '距離(km)', '駐車場(円)', '資材費(円)'];\n\nconst results = [];\nfor (const item of items) {\n  const data = item.json;\n  const files = data.files || [];\n  let spreadsheetId;\n\n  if (files.length > 0) {\n    spreadsheetId = files[0].id;\n  } else {\n    const createRes = await this.helpers.httpRequestWithAuthentication.call(\n      this, 'googleSheetsOAuth2Api', {\n        method: 'POST',\n        url: 'https://sheets.googleapis.com/v4/spreadsheets',\n        body: {\n          properties: { title: data.billingFileName },\n          sheets: BILLING_COMPANIES.map((name, i) => ({\n            properties: { sheetId: i + 1, title: name, index: i }\n          }))\n        },\n        json: true\n      });\n    spreadsheetId = createRes.spreadsheetId;\n\n    await this.helpers.httpRequestWithAuthentication.call(\n      this, 'googleSheetsOAuth2Api', {\n        method: 'PATCH',\n        url: `https://www.googleapis.com/drive/v3/files/${spreadsheetId}?addParents=1_hE52JdvZ-Nyl-lUyKWzhFN6Lqphp9yA&removeParents=root&fields=id,parents`,\n        json: true\n      });\n\n    const valueRanges = BILLING_COMPANIES.map(name => ({\n      range: `${name}!A1`, majorDimension: 'ROWS', values: [HEADERS]\n    }));\n    await this.helpers.httpRequestWithAuthentication.call(\n      this, 'googleSheetsOAuth2Api', {\n        method: 'POST',\n        url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values:batchUpdate`,\n        body: { valueInputOption: 'USER_ENTERED', data: valueRanges },\n        json: true\n      });\n  }\n  results.push({ json: { ...data, billingSpreadsheetId: spreadsheetId } });\n}\nreturn results;\n"
      },
      "id": "bill_create",
      "name": "請求集計ファイル準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4176,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst retryHttp = async (opts, retries = 3) => {\n  for (let i = 0; i < retries; i++) {\n    try { return await this.helpers.httpRequestWithAuthentication.call(this, 'googleSheetsOAuth2Api', opts); }\n    catch(e) {\n      const status = e?.statusCode || e?.cause?.statusCode || 0;\n      if (i === retries - 1 || (status !== 429 && status !== 500 && status !== 503)) throw e;\n      await new Promise(r => setTimeout(r, 1000 * (i + 1)));\n    }\n  }\n};\n\nconst data = $input.first().json;\nconst lineToken = 'Bearer YOUR_LINE_TOKEN';\nconst notifyError = async (msg) => {\n  if (data.userId) {\n    try {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.line.me/v2/bot/message/push',\n        headers: { 'Authorization': lineToken, 'Content-Type': 'application/json' },\n        body: { to: data.userId, messages: [{ type: 'text', text: msg }] },\n        json: true\n      });\n    } catch(e) {}\n  }\n};\n\nconst spreadsheetId = data.spreadsheetId;\nconst sheetName = data.employeeName;\nif (!spreadsheetId) {\n  await notifyError(`稼働表ファイルが見つかりません: ${data.fileName}\\n管理者にご連絡ください。`);\n  throw new Error('稼働表スプレッドシートIDが未設定');\n}\nif (!sheetName) {\n  await notifyError(`担当者シート名が未設定です。`);\n  throw new Error('シート名（employeeName）が未設定');\n}\n\nconst MULTI_PERSON = ['梶原通信', 'LLS電気', '株式会社トラストテクノス', '株式会社RISE'];\nconst isMulti = MULTI_PERSON.includes(sheetName);\n\nconst sites = data.sites || [];\nif (sites.length === 0) {\n  await notifyError(`書き込むデータがありません。`);\n  throw new Error('書き込むデータなし');\n}\n\nconst url = `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(sheetName)}:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS`;\n\nconst writtenRows = [];\ntry {\n  for (const site of sites) {\n    const staffCount = site.staffCount && site.staffCount > 0 ? site.staffCount : 1;\n    const rowValues = isMulti ? [\n      data.parsedDate, site.kubun || '', site.companyName || '', site.propertyName || '',\n      site.startTime || '', site.endTime || '', site.breakMinutes || 0, site.workHours || '',\n      site.workContent || '', staffCount, site.staffNames || '',\n      site.highwayFee || 0, site.distance || 0, site.parkingFee || 0, site.materialCost || 0\n    ] : [\n      data.parsedDate, site.kubun || '', site.companyName || '', site.propertyName || '',\n      site.startTime || '', site.endTime || '', site.breakMinutes || 0, site.workHours || '',\n      site.workContent || '', site.highwayFee || 0, site.distance || 0, site.parkingFee || 0, site.materialCost || 0\n    ];\n    await retryHttp({ method: 'POST', url, body: { values: [rowValues] }, json: true });\n    writtenRows.push(rowValues);\n  }\n} catch(e) {\n  await notifyError(`稼働表への書き込みに失敗しました。\\n理由: ${e.message || 'シート不存在/権限不足の可能性'}\\n管理者にご連絡ください。`);\n  throw e;\n}\n\n// 書き込み後：開始時刻・終了時刻列(E/F)を時刻書式に設定（毎回でも害なし）\ntry {\n  const meta = await this.helpers.httpRequestWithAuthentication.call(\n    this, 'googleSheetsOAuth2Api', {\n      method: 'GET',\n      url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}?fields=sheets.properties`,\n      json: true\n    });\n  const sheet = (meta.sheets || []).find(s => s.properties.title === sheetName);\n  if (sheet) {\n    const sheetId = sheet.properties.sheetId;\n    const requests = [4, 5].map(colIdx => ({\n      repeatCell: {\n        range: { sheetId, startColumnIndex: colIdx, endColumnIndex: colIdx + 1 },\n        cell: { userEnteredFormat: { numberFormat: { type: 'TIME', pattern: 'h:mm' } } },\n        fields: 'userEnteredFormat.numberFormat'\n      }\n    }));\n    await this.helpers.httpRequestWithAuthentication.call(\n      this, 'googleSheetsOAuth2Api', {\n        method: 'POST',\n        url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}:batchUpdate`,\n        body: { requests },\n        json: true\n      });\n  }\n} catch(e) {}\n\nreturn [{ json: { ...data, writtenRows, writeSuccess: true } }];\n"
      },
      "id": "write_sheet",
      "name": "稼働表書き込み",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3328,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\n\nconst retryHttp = async (opts, retries = 3) => {\n  for (let i = 0; i < retries; i++) {\n    try { return await this.helpers.httpRequestWithAuthentication.call(this, 'googleSheetsOAuth2Api', opts); }\n    catch(e) {\n      const status = e?.statusCode || e?.cause?.statusCode || 0;\n      if (i === retries - 1 || (status !== 429 && status !== 500 && status !== 503)) throw e;\n      await new Promise(r => setTimeout(r, 1000 * (i + 1)));\n    }\n  }\n};\n\nconst items = $input.all();\nconst normalize = (name) =>\n  (name || '').replace(/株式会社|有限会社|合同会社|一般社団法人|一般財団法人/g, '').trim();\n\nconst results = [];\nfor (const item of items) {\n  const data = item.json;\n  const spreadsheetId = data.billingSpreadsheetId;\n  if (!spreadsheetId) throw new Error('請求集計スプレッドシートIDが未設定');\n  const billingSites = data.billingSites || [];\n  let written = 0;\n  for (const site of billingSites) {\n    const sheetName = normalize(site.companyName);\n    const url = `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(sheetName)}:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS`;\n    const staffCount = site.staffCount && site.staffCount > 0 ? site.staffCount : 1;\n    const rowValues = [\n      data.parsedDate, site.kubun || '', site.propertyName || '', data.employeeName,\n      staffCount, site.highwayFee || 0, site.distance || 0, site.parkingFee || 0, site.materialCost || 0\n    ];\n    await retryHttp({ method: 'POST', url, body: { values: [rowValues] }, json: true });\n    written++;\n  }\n  results.push({ json: { ...data, billingWritten: written } });\n}\nreturn results;\n"
      },
      "id": "write_billing",
      "name": "請求集計書き込み",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4384,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst lineToken = 'Bearer YOUR_LINE_TOKEN';\n\n// 未登録ユーザーには未登録メッセージを返して終了\nif (data.messageType === 'invalid' || !data.employeeName) {\n  if (data.replyToken) {\n    try {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.line.me/v2/bot/message/reply',\n        headers: { 'Authorization': lineToken, 'Content-Type': 'application/json' },\n        body: { replyToken: data.replyToken, messages: [{ type: 'text', text: 'このユーザーIDは登録されていません。管理者にご連絡ください。' }] },\n        json: true\n      });\n    } catch(e) {}\n  }\n  return [{ json: { done: true, skipped: 'invalid_user' } }];\n}\n\nconst text = data.messageText || '';\n\n// 月の解析\nconst now = new Date();\nlet year = now.getFullYear();\nlet month = now.getMonth() + 1;\n\nif (text.includes('先月')) {\n  month -= 1;\n  if (month === 0) { month = 12; year -= 1; }\n} else if (!text.includes('今月')) {\n  let m = text.match(/(\\d{4})年(\\d{1,2})月/);\n  if (m) { year = parseInt(m[1]); month = parseInt(m[2]); }\n  else {\n    m = text.match(/(\\d{1,2})\\/(\\d{4})/);\n    if (m) { month = parseInt(m[1]); year = parseInt(m[2]); }\n    else {\n      m = text.match(/(\\d{1,2})月/);\n      if (m) month = parseInt(m[1]);\n    }\n  }\n}\n\nconst fileName = `請求集計_${year}年${String(month).padStart(2,'0')}月`;\n\nconst BILLING_COMPANIES = [\n  '港振興業', 'トラストテクノス', '平成システム', 'FGE',\n  'mtr', 'オークコミュニケーション', 'ライズ',\n  '千里スカイハイツ管理組合', '菊次', 'ページ', 'G-STYLE', '梶原通信', 'LLS電気'\n];\n\nlet replyMessage;\n\n// ファイル検索\nconst searchRes = await this.helpers.httpRequestWithAuthentication.call(\n  this, 'googleSheetsOAuth2Api', {\n    method: 'GET',\n    url: 'https://www.googleapis.com/drive/v3/files',\n    qs: {\n      q: `name='${fileName}' and mimeType='application/vnd.google-apps.spreadsheet' and '1_hE52JdvZ-Nyl-lUyKWzhFN6Lqphp9yA' in parents`,\n      fields: 'files(id,name)'\n    },\n    json: true\n  });\n\nconst files = searchRes.files || [];\n\nif (files.length === 0) {\n  replyMessage = `${year}年${month}月 請求集計\\n該当ファイルがありません`;\n} else {\n  const ssId = files[0].id;\n  const ranges = BILLING_COMPANIES.map(n => `ranges=${encodeURIComponent(n + '!A:A')}`).join('&');\n  const url = `https://sheets.googleapis.com/v4/spreadsheets/${ssId}/values:batchGet?${ranges}`;\n\n  let batchRes = { valueRanges: [] };\n  try {\n    batchRes = await this.helpers.httpRequestWithAuthentication.call(\n      this, 'googleSheetsOAuth2Api', { method: 'GET', url, json: true });\n  } catch(e) {}\n\n  const has = [];\n  const none = [];\n  (batchRes.valueRanges || []).forEach((vr, i) => {\n    const rows = (vr.values || []).slice(1);\n    if (rows.length > 0) {\n      has.push(`・${BILLING_COMPANIES[i]}（${rows.length}件）`);\n    } else {\n      none.push(BILLING_COMPANIES[i]);\n    }\n  });\n\n  replyMessage = `${year}年${month}月 請求集計\\n` +\n    (has.length > 0 ? has.join('\\n') : '記録なし') +\n    (none.length > 0 ? `\\n\\n該当なし：${none.join('、')}` : '');\n}\n\nif (data.replyToken) {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.line.me/v2/bot/message/reply',\n    headers: { 'Authorization': lineToken, 'Content-Type': 'application/json' },\n    body: { replyToken: data.replyToken, messages: [{ type: 'text', text: replyMessage }] },\n    json: true\n  });\n}\nreturn [{ json: { done: true, replyMessage } }];\n"
      },
      "id": "billing_query",
      "name": "請求照会処理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        800
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Webhook応答",
            "type": "main",
            "index": 0
          },
          {
            "node": "LINEメッセージ解析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINEメッセージ解析": {
      "main": [
        [
          {
            "node": "メッセージタイプ判定",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "メッセージタイプ判定": {
      "main": [
        [
          {
            "node": "Claude API呼び出し",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "請求照会処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API呼び出し": {
      "main": [
        [
          {
            "node": "Claude解析結果処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude解析結果処理": {
      "main": [
        [
          {
            "node": "スプレッドシート検索",
            "type": "main",
            "index": 0
          },
          {
            "node": "データ合流",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "スプレッドシート検索": {
      "main": [
        [
          {
            "node": "データ合流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "データ合流": {
      "main": [
        [
          {
            "node": "重複確認URL準備",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重複確認URL準備": {
      "main": [
        [
          {
            "node": "既存データ取得",
            "type": "main",
            "index": 0
          },
          {
            "node": "データ合流2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "既存データ取得": {
      "main": [
        [
          {
            "node": "データ合流2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "データ合流2": {
      "main": [
        [
          {
            "node": "重複チェック",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重複チェック": {
      "main": [
        [
          {
            "node": "稼働表書き込み",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "成功返信生成": {
      "main": [
        [
          {
            "node": "LINE返信（成功）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計書き込み準備": {
      "main": [
        [
          {
            "node": "請求集計スプレッドシート検索",
            "type": "main",
            "index": 0
          },
          {
            "node": "請求集計データ合流",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "請求集計スプレッドシート検索": {
      "main": [
        [
          {
            "node": "請求集計データ合流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計データ合流": {
      "main": [
        [
          {
            "node": "請求集計ファイル準備",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計ファイル準備": {
      "main": [
        [
          {
            "node": "請求集計書き込み",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "稼働表書き込み": {
      "main": [
        [
          {
            "node": "成功返信生成",
            "type": "main",
            "index": 0
          },
          {
            "node": "請求集計書き込み準備",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計書き込み": {
      "main": [
        [
          {
            "node": "野添通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "300",
  "tags": []
}