workflows/daily_report_workflow_v4_fixed.json
{
  "name": "日報システム v4 (Google Sheets)",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "caed4a49",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        224,
        400
      ],
      "webhookId": "996e5063-bcab-45ae-8a64-cbc1ee5a0bf1"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "id": "9123ec27",
      "name": "Webhook応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        448,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst body = $input.first().json.body;\nconst events = body?.events || [];\nif (events.length === 0) return [{ json: { valid: false, reason: 'No events' } }];\nconst event = events[0];\nconst userId = event.source?.userId || '';\nconst replyToken = event.message?.type === 'text' ? event.replyToken : '';\nconst messageText = event.message?.text || '';\n\nconst EMPLOYEE_MAP = {\n  \"Uc1e1e958fb952752c3d34628a17585a1\": \"野添優\",\n  \"Uf662ab811bee1780522da7356c0efb9e\": \"丸田翔吾\",\n  \"Ua9a65f01bf77adcc825b05811950480d\": \"源地健史\",\n  \"U65929805c0527b9f75b5276fc250c304\": \"服部秀一\",\n  \"Uadfb98160637cc7f96bccb051c4a51f9\": \"梶原通信\",\n  \"Uf97fd2e35007f697094a9520e1baeafd\": \"井本貴士\",\n  \"REPLACE_LLS_USERID\":               \"LLS電気\",\n  \"REPLACE_TRUST_USERID\":             \"株式会社トラストテクノス\",\n  \"REPLACE_RISE_USERID\":              \"株式会社RISE\"\n};\n\nconst employeeName = EMPLOYEE_MAP[userId];\nif (!employeeName) return [{ json: { valid: false, reason: '未登録ユーザー', userId, replyToken } }];\n\nconst msgLower = messageText.toLowerCase();\nconst messageType = (msgLower.includes('請求') || msgLower.includes('集計')) ? 'billing_query' : 'daily_report';\n\nreturn [{ json: { valid: true, userId, employeeName, messageText, replyToken, messageType } }];\n"
      },
      "id": "a88072f4",
      "name": "LINEメッセージ解析",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        448,
        512
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond2",
              "leftValue": "={{ $json.messageType }}",
              "rightValue": "daily_report",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "7567addf",
      "name": "メッセージタイプ判定",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        880,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst apiKey = 'YOUR_CLAUDE_API_KEY';\n\nconst systemPrompt = `あなたは日報解析AIです。以下のJSON形式で出力してください。\n{\n  \"date\": \"YYYY/MM/DD\",\n  \"sites\": [\n    {\n      \"companyName\": \"会社名\",\n      \"propertyName\": \"物件名\",\n      \"kubun\": \"昼勤 or 夜勤\",\n      \"startTime\": \"HH:MM\",\n      \"endTime\": \"HH:MM\",\n      \"breakMinutes\": 60,\n      \"workHours\": \"H:MM\",\n      \"workContent\": \"作業内容\",\n      \"highwayFee\": 0,\n      \"distance\": 0,\n      \"parkingFee\": 0,\n      \"materialCost\": 0,\n      \"staffCount\": null,\n      \"staffNames\": null\n    }\n  ]\n}\nstaffCount/staffNamesはMULTI_PERSON会社のみ使用。`;\n\nconst response = await this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.anthropic.com/v1/messages',\n  headers: {\n    'x-api-key': apiKey,\n    'anthropic-version': '2023-06-01',\n    'content-type': 'application/json'\n  },\n  body: {\n    model: 'claude-haiku-4-5-20251001',\n    max_tokens: 1024,\n    system: systemPrompt,\n    messages: [{ role: 'user', content: data.messageText }]\n  },\n  json: true\n});\n\nconst claudeResponse = response.content?.[0]?.text || '';\nreturn [{ json: { ...data, claudeResponse } }];\n"
      },
      "id": "9a7e92ef",
      "name": "Claude API呼び出し",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1104,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst claudeText = data.claudeResponse || '';\nconst lineToken = 'Bearer YOUR_LINE_TOKEN';\n\nconst sendLineError = async (msg) => {\n  if (data.replyToken) {\n    try {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.line.me/v2/bot/message/reply',\n        headers: { 'Authorization': lineToken, 'Content-Type': 'application/json' },\n        body: { replyToken: data.replyToken, messages: [{ type: 'text', text: msg }] },\n        json: true\n      });\n    } catch(e) {}\n  }\n};\n\nlet parsed;\ntry {\n  const match = claudeText.match(/\\{[\\s\\S]*\\}/);\n  if (!match) throw new Error('JSONが見つかりません');\n  parsed = JSON.parse(match[0]);\n} catch(e) {\n  await sendLineError(`日報のフォーマットが認識できませんでした。\\n正しいフォーマットで送信してください。`);\n  throw new Error('日報フォーマットエラー: ' + e.message);\n}\n\nif (!parsed.date || !parsed.sites || parsed.sites.length === 0) {\n  await sendLineError(`日付または現場情報が記載されていません。\\n確認してもう一度送信してください。`);\n  throw new Error('日報バリデーションエラー: 日付または現場情報なし');\n}\n\nconst dateParts = parsed.date.split('/');\nconst fileYear  = parseInt(dateParts[0]);\nconst fileMonth = parseInt(dateParts[1]);\nconst fileName  = `稼働表_${fileYear}年${String(fileMonth).padStart(2,'0')}月`;\n\nreturn [{ json: { ...data, parsedDate: parsed.date, sites: parsed.sites, fileName, fileYear, fileMonth } }];\n"
      },
      "id": "09247962",
      "name": "Claude解析結果処理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst lineToken = 'Bearer YOUR_LINE_TOKEN';\nconst data = $input.first().json;\nconst msg = `日報の解析に失敗しました。\\n理由: ${data.reason || '不明なエラー'}\\nもう一度送信してください。`;\nif (data.replyToken) {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.line.me/v2/bot/message/reply',\n    headers: { 'Authorization': lineToken, 'Content-Type': 'application/json' },\n    body: { replyToken: data.replyToken, messages: [{ type: 'text', text: msg }] },\n    json: true\n  });\n}\nreturn [{ json: { done: true } }];\n"
      },
      "id": "4983f880",
      "name": "LINE返信（エラー）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1760,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst siteList = (data.sites || []).map(s =>\n  `・${s.companyName} ${s.propertyName || ''} ${s.kubun || ''} ${s.startTime || ''}〜${s.endTime || ''} (${s.workHours || ''})`\n).join('\\n');\nconst replyMessage = `✅ 日報を記録しました\\n日付: ${data.parsedDate}\\n担当: ${data.employeeName}\\n${siteList}\\nお疲れ様でした`.trim();\nreturn [{ json: { ...data, replyMessage } }];\n"
      },
      "id": "aaa64dcb",
      "name": "成功返信生成",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst lineToken = 'Bearer YOUR_LINE_TOKEN';\nconst data = $input.first().json;\nif (data.replyToken) {\n  await this.helpers.httpRequest({\n    method: 'POST',\n    url: 'https://api.line.me/v2/bot/message/reply',\n    headers: { 'Authorization': lineToken, 'Content-Type': 'application/json' },\n    body: { replyToken: data.replyToken, messages: [{ type: 'text', text: data.replyMessage }] },\n    json: true\n  });\n}\nreturn [{ json: { done: true } }];\n"
      },
      "id": "38aab03f",
      "name": "LINE返信（成功）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3760,
        300
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=name='{{ $json.fileName }}' and mimeType='application/vnd.google-apps.spreadsheet'"
            },
            {
              "name": "spaces",
              "value": "drive"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            }
          ]
        },
        "options": {}
      },
      "id": "b5cb4023",
      "name": "スプレッドシート検索",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1760,
        400
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EoASV9OF6Sq9t52P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "31bd6466",
      "name": "データ合流",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        1984,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\n\nconst normalize = (name) =>\n  (name || '').replace(/株式会社|有限会社|合同会社|一般社団法人|一般財団法人/g, '').trim();\n\nconst BILLING_COMPANIES = [\n  '港振興業', 'トラストテクノス', '平成システム', 'FGE',\n  'mtr', 'オークコミュニケーション', 'ライズ',\n  '千里スカイハイツ管理組合', '菊次', 'ページ', 'G-STYLE', '梶原通信'\n];\nconst CLOSING_20 = ['平成システム'];\nconst COMPANY_ALIASES = {\n  '平成': '平成システム', 'トラスト': 'トラストテクノス',\n  'オーク': 'オークコミュニケーション', '千里': '千里スカイハイツ管理組合',\n  '港': '港振興業', '港振': '港振興業', 'コウシン': '港振興業',\n  '梶原': '梶原通信', 'ジースタイル': 'G-STYLE', 'Gスタイル': 'G-STYLE'\n};\n\nconst resolveAlias = (name) => {\n  for (const [alias, full] of Object.entries(COMPANY_ALIASES)) {\n    if (normalize(name).includes(normalize(alias))) return full;\n  }\n  return name;\n};\n\nconst parts = (data.parsedDate || '').split('/');\nconst year  = parseInt(parts[0]) || 0;\nconst month = parseInt(parts[1]) || 0;\nconst day   = parseInt(parts[2]) || 0;\n\nconst billingSites = (data.sites || []).filter(site => {\n  const resolved = resolveAlias(site.companyName);\n  const norm = normalize(resolved);\n  return BILLING_COMPANIES.some(c => norm.includes(normalize(c)) || normalize(c).includes(norm));\n});\n\nif (billingSites.length === 0) return [];\n\nconst groups = {};\nfor (const site of billingSites) {\n  const resolved = resolveAlias(site.companyName);\n  const norm = normalize(resolved);\n  const is20 = CLOSING_20.some(c => norm.includes(normalize(c)) || normalize(c).includes(norm));\n  let bYear = year, bMonth = month;\n  if (is20 && day >= 21) {\n    bMonth = month + 1;\n    if (bMonth > 12) { bMonth = 1; bYear = year + 1; }\n  }\n  const key = `${bYear}-${bMonth}`;\n  if (!groups[key]) groups[key] = { bYear, bMonth, sites: [] };\n  groups[key].sites.push({ ...site, companyName: resolved });\n}\n\nconst results = [];\nfor (const group of Object.values(groups)) {\n  const billingFileName = `請求集計_${group.bYear}年${String(group.bMonth).padStart(2,'0')}月`;\n  results.push({ json: { ...data, billingYear: group.bYear, billingMonth: group.bMonth, billingFileName, billingSites: group.sites } });\n}\nreturn results;\n"
      },
      "id": "709ca69c",
      "name": "請求集計書き込み準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3552,
        608
      ]
    },
    {
      "parameters": {
        "url": "https://www.googleapis.com/drive/v3/files",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "=name='{{ $json.billingFileName }}' and mimeType='application/vnd.google-apps.spreadsheet'"
            },
            {
              "name": "spaces",
              "value": "drive"
            },
            {
              "name": "fields",
              "value": "files(id,name)"
            }
          ]
        },
        "options": {}
      },
      "id": "2fa7f7ba",
      "name": "請求集計スプレッドシート検索",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3760,
        608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EoASV9OF6Sq9t52P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "dac71185",
      "name": "請求集計データ合流",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        3968,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst spreadsheetId = data.billingSpreadsheetId;\nif (!spreadsheetId) throw new Error('請求集計スプレッドシートIDが未設定');\n\nconst normalize = (name) =>\n  (name || '').replace(/株式会社|有限会社|合同会社|一般社団法人|一般財団法人/g, '').trim();\n\nconst results = [];\nfor (const site of (data.billingSites || [])) {\n  const sheetName = normalize(site.companyName);\n  const appendUrl = `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(sheetName)}:append`;\n  const staffCount = site.staffCount && site.staffCount > 0 ? site.staffCount : 1;\n  const rowValues = [\n    data.parsedDate,\n    site.kubun || '',\n    site.propertyName || '',\n    data.employeeName,\n    staffCount,\n    site.highwayFee || 0,\n    site.distance || 0,\n    site.parkingFee || 0\n  ];\n  results.push({ json: {\n    ...data,\n    billingSpreadsheetId: spreadsheetId,\n    billingSheetName: sheetName,\n    appendUrl,\n    requestBody: { values: [rowValues] }\n  }});\n}\nreturn results;\n"
      },
      "id": "3e404c22",
      "name": "請求集計サイト展開",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4384,
        608
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $json.appendUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "valueInputOption",
              "value": "USER_ENTERED"
            },
            {
              "name": "insertDataOption",
              "value": "INSERT_ROWS"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify($json.requestBody) }}",
        "options": {}
      },
      "id": "b8199969",
      "name": "請求集計行追加",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        4592,
        608
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EoASV9OF6Sq9t52P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "\nconst lineToken = 'Bearer YOUR_LINE_TOKEN';\nconst NOZOE_ID = 'Uc1e1e958fb952752c3d34628a17585a1';\nconst data = $input.first().json;\n\nconst companyNames = (data.billingSites || []).map(s => s.companyName).join('、');\nconst msg = data.billingFileName\n  ? `請求集計を更新しました\\nファイル: ${data.billingFileName}\\n担当: ${data.employeeName}\\n対象会社: ${companyNames}`\n  : '請求集計を更新しました';\n\nawait this.helpers.httpRequest({\n  method: 'POST',\n  url: 'https://api.line.me/v2/bot/message/push',\n  headers: { 'Authorization': lineToken, 'Content-Type': 'application/json' },\n  body: { to: NOZOE_ID, messages: [{ type: 'text', text: msg }] },\n  json: true\n});\nreturn [{ json: { done: true } }];\n"
      },
      "id": "772a33de",
      "name": "野添通知",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4800,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst spreadsheetId = (data.files || [])[0]?.id;\nif (!spreadsheetId) throw new Error(`スプレッドシートが見つかりません: ${data.fileName}`);\nconst sheetName = data.employeeName;\nconst readUrl = `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(sheetName)}!A:A`;\nreturn [{ json: { ...data, spreadsheetId, readUrl } }];\n"
      },
      "id": "dup_url_prep",
      "name": "重複確認URL準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2208,
        400
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.readUrl }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "googleSheetsOAuth2Api",
        "options": {}
      },
      "id": "dup_data_get",
      "name": "既存データ取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2432,
        320
      ],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "EoASV9OF6Sq9t52P",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "id": "dup_merge",
      "name": "データ合流2",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        2640,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst existingValues = data.values || [];\nconst parsedDate = data.parsedDate;\nconst lineToken = 'Bearer YOUR_LINE_TOKEN';\n\nconst dataRows = existingValues.slice(2);\nconst normalize = (d) => (d || '').toString().replace(/[\\-\\.]/g, '/').trim();\nconst isDuplicate = dataRows.some(row => normalize(row[0]) === normalize(parsedDate));\n\nif (isDuplicate) {\n  if (data.replyToken) {\n    try {\n      await this.helpers.httpRequest({\n        method: 'POST',\n        url: 'https://api.line.me/v2/bot/message/reply',\n        headers: { 'Authorization': lineToken, 'Content-Type': 'application/json' },\n        body: { replyToken: data.replyToken, messages: [{ type: 'text', text: `${parsedDate}の日報はすでに送信済みです。\\n重複データは記録されませんでした。` }] },\n        json: true\n      });\n    } catch(e) {}\n  }\n  throw new Error(`重複: ${parsedDate}の日報は送信済み`);\n}\n\nreturn [{ json: { ...data } }];\n"
      },
      "id": "dup_check",
      "name": "重複チェック",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2864,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst files = data.files || [];\n\nconst BILLING_COMPANIES = [\n  '港振興業', 'トラストテクノス', '平成システム', 'FGE',\n  'mtr', 'オークコミュニケーション', 'ライズ',\n  '千里スカイハイツ管理組合', '菊次', 'ページ', 'G-STYLE', '梶原通信'\n];\nconst HEADERS = ['日付', '区分', '物件名', '人員名', '人員数', '高速(円)', '距離(km)', '駐車場(円)'];\n\nlet spreadsheetId;\n\nif (files.length > 0) {\n  spreadsheetId = files[0].id;\n} else {\n  // 新規スプレッドシート作成（12社分のシートを同時に作る）\n  const createRes = await this.helpers.httpRequestWithAuthentication.call(\n    this,\n    'googleSheetsOAuth2Api',\n    {\n      method: 'POST',\n      url: 'https://sheets.googleapis.com/v4/spreadsheets',\n      body: {\n        properties: { title: data.billingFileName },\n        sheets: BILLING_COMPANIES.map((name, i) => ({\n          properties: { sheetId: i + 1, title: name, index: i }\n        }))\n      },\n      json: true\n    }\n  );\n  spreadsheetId = createRes.spreadsheetId;\n\n  // 各シートにヘッダー行を追加（一括 batchUpdate）\n  const valueRanges = BILLING_COMPANIES.map(name => ({\n    range: `${name}!A1`,\n    majorDimension: 'ROWS',\n    values: [HEADERS]\n  }));\n\n  await this.helpers.httpRequestWithAuthentication.call(\n    this,\n    'googleSheetsOAuth2Api',\n    {\n      method: 'POST',\n      url: `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values:batchUpdate`,\n      body: {\n        valueInputOption: 'USER_ENTERED',\n        data: valueRanges\n      },\n      json: true\n    }\n  );\n\n  // デフォルトで作成される 'Sheet1' を削除（任意）\n  // 12社シートを作成済みなのでSheet1は不要だが、createでsheets指定したので元々作られない\n}\n\nreturn [{ json: { ...data, billingSpreadsheetId: spreadsheetId } }];\n"
      },
      "id": "bill_create",
      "name": "請求集計ファイル準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        4176,
        608
      ]
    },
    {
      "parameters": {
        "jsCode": "\nconst data = $input.first().json;\nconst spreadsheetId = data.spreadsheetId;\nconst sheetName = data.employeeName;\nif (!spreadsheetId) throw new Error('稼働表スプレッドシートIDが未設定');\nif (!sheetName) throw new Error('シート名（employeeName）が未設定');\n\nconst MULTI_PERSON = ['梶原通信', 'LLS電気', '株式会社トラストテクノス', '株式会社RISE'];\nconst isMulti = MULTI_PERSON.includes(sheetName);\n\nconst sites = data.sites || [];\nif (sites.length === 0) throw new Error('書き込むデータがありません');\n\nconst url = `https://sheets.googleapis.com/v4/spreadsheets/${spreadsheetId}/values/${encodeURIComponent(sheetName)}:append?valueInputOption=USER_ENTERED&insertDataOption=INSERT_ROWS`;\n\nconst writtenRows = [];\nfor (const site of sites) {\n  const staffCount = site.staffCount && site.staffCount > 0 ? site.staffCount : 1;\n  const rowValues = isMulti ? [\n    data.parsedDate,\n    site.kubun || '',\n    site.companyName || '',\n    site.propertyName || '',\n    site.startTime || '',\n    site.endTime || '',\n    site.breakMinutes || 0,\n    site.workHours || '',\n    site.workContent || '',\n    staffCount,\n    site.staffNames || '',\n    site.highwayFee || 0,\n    site.distance || 0,\n    site.parkingFee || 0,\n    site.materialCost || 0\n  ] : [\n    data.parsedDate,\n    site.kubun || '',\n    site.companyName || '',\n    site.propertyName || '',\n    site.startTime || '',\n    site.endTime || '',\n    site.breakMinutes || 0,\n    site.workHours || '',\n    site.workContent || '',\n    site.highwayFee || 0,\n    site.distance || 0,\n    site.parkingFee || 0,\n    site.materialCost || 0\n  ];\n  await this.helpers.httpRequestWithAuthentication.call(\n    this,\n    'googleSheetsOAuth2Api',\n    { method: 'POST', url, body: { values: [rowValues] }, json: true }\n  );\n  writtenRows.push(rowValues);\n}\n\nreturn [{ json: { ...data, writtenRows, writeSuccess: true } }];\n"
      },
      "id": "write_sheet",
      "name": "稼働表書き込み",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        3328,
        400
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Webhook応答",
            "type": "main",
            "index": 0
          },
          {
            "node": "LINEメッセージ解析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINEメッセージ解析": {
      "main": [
        [
          {
            "node": "メッセージタイプ判定",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "メッセージタイプ判定": {
      "main": [
        [
          {
            "node": "Claude API呼び出し",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LINE返信（エラー）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API呼び出し": {
      "main": [
        [
          {
            "node": "Claude解析結果処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude解析結果処理": {
      "main": [
        [
          {
            "node": "スプレッドシート検索",
            "type": "main",
            "index": 0
          },
          {
            "node": "データ合流",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "スプレッドシート検索": {
      "main": [
        [
          {
            "node": "データ合流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "データ合流": {
      "main": [
        [
          {
            "node": "重複確認URL準備",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重複確認URL準備": {
      "main": [
        [
          {
            "node": "既存データ取得",
            "type": "main",
            "index": 0
          },
          {
            "node": "データ合流2",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "既存データ取得": {
      "main": [
        [
          {
            "node": "データ合流2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "データ合流2": {
      "main": [
        [
          {
            "node": "重複チェック",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "重複チェック": {
      "main": [
        [
          {
            "node": "稼働表書き込み",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "成功返信生成": {
      "main": [
        [
          {
            "node": "LINE返信（成功）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計書き込み準備": {
      "main": [
        [
          {
            "node": "請求集計スプレッドシート検索",
            "type": "main",
            "index": 0
          },
          {
            "node": "請求集計データ合流",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "請求集計スプレッドシート検索": {
      "main": [
        [
          {
            "node": "請求集計データ合流",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計データ合流": {
      "main": [
        [
          {
            "node": "請求集計ファイル準備",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計サイト展開": {
      "main": [
        [
          {
            "node": "請求集計行追加",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計行追加": {
      "main": [
        [
          {
            "node": "野添通知",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計ファイル準備": {
      "main": [
        [
          {
            "node": "請求集計サイト展開",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "稼働表書き込み": {
      "main": [
        [
          {
            "node": "成功返信生成",
            "type": "main",
            "index": 0
          },
          {
            "node": "請求集計書き込み準備",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "id": "300",
  "tags": []
}