workflows/daily_report_workflow_v2.json
{
  "name": "日報システム v2（Claude API版）",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "daily-report",
        "responseMode": "responseNode",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        220,
        400
      ],
      "id": "dr-webhook-001",
      "webhookId": "daily-report"
    },
    {
      "parameters": {
        "respondWith": "text",
        "responseBody": "OK",
        "options": {}
      },
      "name": "Webhook応答",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        440,
        200
      ],
      "id": "dr-respond-001"
    },
    {
      "parameters": {
        "jsCode": "const body = $input.first().json.body;\nif (!body.events || body.events.length === 0) return [];\n\n// ===== LINE userId → 名前 の対応表 =====\nconst EMPLOYEE_MAP = {\n  \"Uc1e1e958fb952752c3d34628a17585a1\": \"野添優\",\n  \"Uf662ab811bee1780522da7356c0efb9e\": \"丸田翔吾\",\n  \"Ua9a65f01bf77adcc825b05811950480d\": \"源地健史\",\n  \"U65929805c0527b9f75b5276fc250c304\": \"服部秀一\",\n  \"REPLACE_IMOTO_USERID\":              \"井本貴史\",\n  \"Uadfb98160637cc7f96bccb051c4a51f9\": \"梶原通信\",\n  \"REPLACE_LLS_USERID\":                \"LLS電気\",\n  \"REPLACE_TRUST_USERID\":              \"株式会社トラストテクノス\",\n  \"REPLACE_RISE_USERID\":               \"株式会社RISE\"\n};\n\nconst results = [];\nfor (const event of body.events) {\n  if (event.type !== 'message' || event.message.type !== 'text') continue;\n\n  const userId     = event.source.userId;\n  const replyToken = event.replyToken;\n  const text       = event.message.text.trim();\n\n  const now   = new Date();\n  const year  = now.getFullYear();\n  const month = now.getMonth() + 1;\n  const fileName = `稼働表_${year}年${month}月.xlsx`;\n\n  const extract = (label, str) => {\n    const m = str.match(new RegExp(label + '[：:]\\\\s*(.+)'));\n    return m ? m[1].trim() : null;\n  };\n\n  // 請求集計コマンド\n  if (text.startsWith('請求集計')) {\n    const employeeName = EMPLOYEE_MAP[userId] || 'unknown';\n    const companyName = extract('会社名', text) || text.replace(/^請求集計[\\s　]*/, '').trim();\n    if (!companyName) {\n      results.push({ json: { valid: false, replyToken, errorMessage: '会社名を入力してください\\n例：\\n請求集計\\n会社名：梶原通信' } });\n      continue;\n    }\n    results.push({ json: { valid: true, messageType: 'billing_query', replyToken, userId, employeeName, companyName, fileName, year, month } });\n    continue;\n  }\n\n  // 日報コマンド\n  if (!text.startsWith('日報')) {\n    results.push({ json: { valid: false, replyToken, errorMessage: '「日報」から始めてください' } });\n    continue;\n  }\n\n  const employeeName = EMPLOYEE_MAP[userId];\n  if (!employeeName) {\n    results.push({ json: { valid: false, replyToken, errorMessage: 'このアカウントは登録されていません。管理者にお問い合わせください。' } });\n    continue;\n  }\n\n  results.push({ json: {\n    valid: true,\n    replyToken,\n    userId,\n    employeeName,\n    fileName,\n    year,\n    month,\n    messageText: text\n  }});\n}\n\nreturn results;"
      },
      "name": "LINEメッセージ解析",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        440,
        400
      ],
      "id": "dr-parse-001"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        },
        "options": {
          "typeValidation": "loose"
        }
      },
      "name": "バリデーション確認",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        660,
        400
      ],
      "id": "dr-valid-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.anthropic.com/v1/messages",
        "authentication": "none",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "x-api-key",
              "value": "YOUR_ANTHROPIC_API_KEY"
            },
            {
              "name": "anthropic-version",
              "value": "2023-06-01"
            },
            {
              "name": "content-type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ {\n  \"model\": \"claude-haiku-4-5-20251001\",\n  \"max_tokens\": 1024,\n  \"messages\": [{\n    \"role\": \"user\",\n    \"content\": \"以下のLINEメッセージは電気工事会社の日報です。全ての現場の情報を抽出してJSON形式で返してください。\\n\\nメッセージ：\\n\" + $json.messageText + \"\\n\\n以下のJSON形式で返してください。現場が複数ある場合はsitesに複数のオブジェクトを入れてください：\\n{\\\"date\\\":\\\"YYYY/MM/DD\\\",\\\"sites\\\":[{\\\"kubun\\\":\\\"昼勤\\\",\\\"companyName\\\":\\\"会社名\\\",\\\"propertyName\\\":\\\"物件名\\\",\\\"startTime\\\":\\\"HH:MM\\\",\\\"endTime\\\":\\\"HH:MM\\\",\\\"breakMin\\\":0,\\\"workContent\\\":\\\"作業内容\\\",\\\"highwayFee\\\":0,\\\"distance\\\":0,\\\"parkingFee\\\":0,\\\"materialFee\\\":0,\\\"personnelNames\\\":null,\\\"personnelCount\\\":null}]}\\n\\nkubunは 昼勤/夜勤/半日（午前）/半日（午後） のいずれか。personnelNames・personnelCountは人員がいなければnull。JSONのみを返してください。\"\n  }]\n} }}",
        "options": {}
      },
      "name": "Claude API呼び出し",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        320
      ],
      "id": "dr-claude-001"
    },
    {
      "parameters": {
        "jsCode": "const data = $('LINEメッセージ解析').first().json;\nconst claudeResponse = $input.first().json;\n\ntry {\n  const textContent = claudeResponse.content[0].text;\n  const jsonMatch = textContent.match(/\\{[\\s\\S]*\\}/);\n  if (!jsonMatch) throw new Error('Claude応答のJSON抽出失敗');\n\n  const parsed = JSON.parse(jsonMatch[0]);\n  if (!parsed.date || !parsed.sites || parsed.sites.length === 0) {\n    throw new Error('日付または現場情報が取得できませんでした');\n  }\n\n  // 稼働時間を計算\n  for (const site of parsed.sites) {\n    if (site.startTime && site.endTime) {\n      const [sh, sm] = site.startTime.split(':').map(Number);\n      const [eh, em] = site.endTime.split(':').map(Number);\n      let totalMin = (eh * 60 + em) - (sh * 60 + sm);\n      if (totalMin < 0) totalMin += 24 * 60;\n      totalMin -= (site.breakMin || 0);\n      const h = Math.floor(totalMin / 60);\n      const m = totalMin % 60;\n      site.workingTime = `${h}:${String(m).padStart(2, '0')}`;\n    }\n    site.highwayFee   = parseInt(site.highwayFee)  || 0;\n    site.distance     = parseInt(site.distance)     || 0;\n    site.parkingFee   = parseInt(site.parkingFee)   || 0;\n    site.materialFee  = parseInt(site.materialFee)  || 0;\n    site.breakMin     = parseInt(site.breakMin)     || 0;\n  }\n\n  return [{ json: { ...data, parsedDate: parsed.date, sites: parsed.sites, valid: true } }];\n\n} catch (e) {\n  return [{ json: {\n    valid: false,\n    replyToken: data.replyToken,\n    errorMessage: `日報の解析に失敗しました。\\n以下を確認してください：\\n・日付が正しいか（例：2026/04/18）\\n・区分が正しいか（昼勤 / 夜勤）\\n・すでに送信済みでないか`\n  }}];\n}"
      },
      "name": "Claude解析結果処理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1100,
        320
      ],
      "id": "dr-claude-proc-001"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        },
        "options": {
          "typeValidation": "loose"
        }
      },
      "name": "解析バリデーション",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        1320,
        320
      ],
      "id": "dr-valid-002"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/items/ONEDRIVE_FOLDER_ID:/{{ $json.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftDriveOAuth2Api",
        "options": {}
      },
      "name": "ファイル情報取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1540,
        240
      ],
      "id": "dr-fileinfo-001"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/items/{{ $('ファイル情報取得').first().json.id }}/content",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftDriveOAuth2Api",
        "options": {
          "response": {
            "response": {
              "responseFormat": "file"
            }
          }
        }
      },
      "name": "ファイルダウンロード",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1760,
        240
      ],
      "id": "dr-download-001"
    },
    {
      "parameters": {
        "jsCode": "const ExcelJS = require('exceljs');\n\nreturn await (async () => {\n  const data     = $('Claude解析結果処理').first().json;\n  const fileInfo = $('ファイル情報取得').first().json;\n\n  try {\n    const workbook = new ExcelJS.Workbook();\n    const buffer   = await this.helpers.getBinaryDataBuffer(0, 'data');\n\n    if (!buffer || buffer.length === 0) {\n      throw new Error('Excelファイルのダウンロードに失敗しました');\n    }\n\n    await workbook.xlsx.load(buffer, { useSharedStrings: false });\n\n    const MULTI_PERSON = ['梶原通信', 'LLS電気', '株式会社トラストテクノス', '株式会社RISE'];\n    const isMulti = MULTI_PERSON.includes(data.employeeName);\n\n    const sheet = workbook.getWorksheet(data.employeeName);\n    if (!sheet) throw new Error(`シート「${data.employeeName}」が見つかりません`);\n\n    const toDate = (str) => {\n      if (!str) return null;\n      const p = str.split('/');\n      return new Date(Date.UTC(parseInt(p[0]), parseInt(p[1])-1, parseInt(p[2])));\n    };\n\n    const findOrCreateRow = () => {\n      let target = null;\n      sheet.eachRow((row, num) => {\n        if (num < 2 || target) return;\n        const cell = row.getCell(1).value;\n        if (!cell) return;\n        let rowDate = '';\n        if (cell instanceof Date) {\n          rowDate = `${cell.getUTCFullYear()}/${String(cell.getUTCMonth()+1).padStart(2,'0')}/${String(cell.getUTCDate()).padStart(2,'0')}`;\n        } else {\n          rowDate = String(cell).trim();\n        }\n        if (rowDate === data.parsedDate && !row.getCell(3).value) target = row;\n      });\n      if (!target) {\n        const n = sheet.lastRow ? sheet.lastRow.number + 1 : 2;\n        target = sheet.getRow(n);\n        target.getCell(1).value  = toDate(data.parsedDate);\n        target.getCell(1).numFmt = 'YYYY/MM/DD';\n      }\n      return target;\n    };\n\n    for (const site of data.sites) {\n      const row = findOrCreateRow();\n      row.getCell(2).value = site.companyName  || '';\n      row.getCell(3).value = site.kubun        || '';\n      row.getCell(4).value = site.propertyName || '';\n      row.getCell(5).value = site.startTime    || '';\n      row.getCell(6).value = site.endTime      || '';\n      row.getCell(7).value = site.breakMin     || 0;\n      row.getCell(8).value = site.workingTime  || '';\n      row.getCell(9).value = site.workContent  || '';\n\n      if (isMulti) {\n        row.getCell(10).value = site.personnelCount || '';\n        row.getCell(11).value = site.personnelNames || '';\n        row.getCell(12).value = site.highwayFee;\n        row.getCell(13).value = site.distance;\n        row.getCell(14).value = site.parkingFee;\n        row.getCell(15).value = site.materialFee;\n      } else {\n        row.getCell(10).value = site.highwayFee;\n        row.getCell(11).value = site.distance;\n        row.getCell(12).value = site.parkingFee;\n        row.getCell(13).value = site.materialFee;\n      }\n    }\n\n    const out = await workbook.xlsx.writeBuffer({ useSharedStrings: false });\n    const bin = await this.helpers.prepareBinaryData(\n      Buffer.from(out),\n      data.fileName,\n      'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet'\n    );\n\n    return [{ json: { ...data, fileId: fileInfo.id, valid: true }, binary: { data: bin } }];\n\n  } catch (err) {\n    return [{ json: { valid: false, replyToken: data.replyToken, errorMessage: err.message } }];\n  }\n})();"
      },
      "name": "Excel書き込み",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1980,
        240
      ],
      "id": "dr-excel-001"
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [
            {
              "value1": "={{ $json.valid }}",
              "value2": true
            }
          ]
        },
        "options": {
          "typeValidation": "loose"
        }
      },
      "name": "書き込みバリデーション",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        2200,
        240
      ],
      "id": "dr-valid-003"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/items/{{ $('ファイル情報取得').first().json.id }}/content",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftDriveOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          ]
        },
        "options": {}
      },
      "name": "アップロード",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2420,
        160
      ],
      "id": "dr-upload-001"
    },
    {
      "parameters": {
        "jsCode": "const data = $('Claude解析結果処理').first().json;\nconst msg = 'お疲れ様です　日報を確認しました　ありがとうございます。';\nreturn [{ json: { replyToken: data.replyToken, replyMessage: msg } }];"
      },
      "name": "成功返信生成",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2640,
        160
      ],
      "id": "dr-success-msg-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"replyToken\": $json.replyToken, \"messages\": [{ \"type\": \"text\", \"text\": $json.replyMessage }] } }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LINE_CHANNEL_ACCESS_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "name": "LINE返信（成功）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2860,
        160
      ],
      "id": "dr-reply-success-001"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.line.me/v2/bot/message/reply",
        "authentication": "none",
        "sendBody": true,
        "contentType": "json",
        "specifyBody": "json",
        "jsonBody": "={{ { \"replyToken\": $json.replyToken, \"messages\": [{ \"type\": \"text\", \"text\": \"❌ 日報の受付に失敗しました\\nもう一度送信してください\" }] } }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "Bearer YOUR_LINE_CHANNEL_ACCESS_TOKEN"
            }
          ]
        },
        "options": {}
      },
      "name": "LINE返信（エラー）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        880,
        560
      ],
      "id": "dr-reply-error-001"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $json.messageType }}",
              "operation": "equals",
              "value2": "billing_query"
            }
          ]
        },
        "options": {
          "typeValidation": "loose"
        }
      },
      "name": "メッセージタイプ判定",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        400
      ],
      "id": "dr-type-judge-001"
    },
    {
      "parameters": {
        "jsCode": "const d = $json;\nconst CLOSING_20 = ['平成システム'];\nconst is20 = CLOSING_20.includes(d.companyName);\nconst prevYear = d.month === 1 ? d.year - 1 : d.year;\nconst prevMonth = d.month === 1 ? 12 : d.month - 1;\nconst prevFileName = `稼働表_${prevYear}年${prevMonth}月.xlsx`;\nreturn [{ json: { ...d, is20, prevFileName } }];"
      },
      "name": "請求集計準備",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        180
      ],
      "id": "dr-billing-prep-001"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/root:/日報/{{ $json.fileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftDriveOAuth2Api",
        "options": {}
      },
      "name": "請求集計ファイル情報取得（当月）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1120,
        280
      ],
      "id": "dr-billing-fi-current-001"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/root:/日報/{{ $json.prevFileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftDriveOAuth2Api",
        "options": {
          "batching": {
            "batch": {
              "batchSize": 1
            }
          }
        },
        "onError": "continueRegularOutput"
      },
      "name": "請求集計ファイル情報取得（前月）",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1340,
        280
      ],
      "id": "dr-billing-fi-prev-001"
    },
    {
      "parameters": {
        "jsCode": "const ExcelJS = require('exceljs');\nreturn await (async () => {\n  const data = $('請求集計準備').first().json;\n  const currentFI = $('請求集計ファイル情報取得（当月）').first().json;\n  let prevFI = null;\n  try { prevFI = $('請求集計ファイル情報取得（前月）').first().json; } catch(e) {}\n  const MULTI = ['梶原通信','LLS電気','株式会社トラストテクノス','株式会社RISE'];\n  const isMulti = MULTI.includes(data.companyName);\n  const highwayCol = isMulti ? 12 : 10;\n  const distanceCol = isMulti ? 13 : 11;\n  let startDate, endDate;\n  if (data.is20) {\n    const pY = data.month === 1 ? data.year - 1 : data.year;\n    const pM = data.month === 1 ? 12 : data.month - 1;\n    startDate = new Date(Date.UTC(pY, pM - 1, 21));\n    endDate = new Date(Date.UTC(data.year, data.month - 1, 20));\n  } else {\n    startDate = new Date(Date.UTC(data.year, data.month - 1, 1));\n    endDate = new Date(Date.UTC(data.year, data.month, 0));\n  }\n  const records = {};\n  const processWB = async (fi) => {\n    if (!fi || !fi['@microsoft.graph.downloadUrl']) return;\n    const res = await this.helpers.httpRequest({ method: 'GET', url: fi['@microsoft.graph.downloadUrl'], encoding: 'arraybuffer', returnFullResponse: false });\n    const wb = new ExcelJS.Workbook();\n    await wb.xlsx.load(Buffer.from(res), { useSharedStrings: false });\n    wb.eachSheet((sheet) => {\n      const empName = sheet.name;\n      sheet.eachRow((row, num) => {\n        if (num < 2) return;\n        const dateCell = row.getCell(1).value;\n        const company = row.getCell(3).value;\n        if (!company || String(company).trim() !== data.companyName) return;\n        if (!dateCell || typeof dateCell.getTime !== 'function') return;\n        const d = new Date(dateCell.getTime() + 9 * 3600000);\n        const dUTC = new Date(Date.UTC(d.getUTCFullYear(), d.getUTCMonth(), d.getUTCDate()));\n        if (dUTC < startDate || dUTC > endDate) return;\n        const dateStr = `${d.getUTCMonth()+1}/${d.getUTCDate()}`;\n        const shift = row.getCell(2).value || '';\n        const site = row.getCell(4).value || '';\n        const key = `${dUTC.getTime()}|${shift}|${site}`;\n        const hw = row.getCell(highwayCol).value || 0;\n        const dist = row.getCell(distanceCol).value || 0;\n        if (!records[key]) records[key] = { dateStr, shift, site, employees: [], highway: 0, distance: 0, sortKey: dUTC.getTime() };\n        if (!records[key].employees.includes(empName)) records[key].employees.push(empName);\n        records[key].highway = Math.max(records[key].highway, hw);\n        records[key].distance = Math.max(records[key].distance, dist);\n      });\n    });\n  };\n  await processWB(currentFI);\n  if (data.is20 && prevFI) await processWB(prevFI);\n  const sorted = Object.values(records).sort((a, b) => a.sortKey - b.sortKey);\n  let totalHighway = 0, totalDistance = 0;\n  const lines = sorted.map(r => {\n    totalHighway += r.highway; totalDistance += r.distance;\n    let line = `${r.dateStr}  ${r.shift}  ${r.site}  ${r.employees.join(' ')}`;\n    if (r.highway > 0) line += `  高速:¥${r.highway.toLocaleString('ja-JP')}`;\n    if (r.distance > 0) line += `  距離:${r.distance}km`;\n    return line;\n  });\n  const sM = data.is20 ? (data.month === 1 ? 12 : data.month - 1) : data.month;\n  const sD = data.is20 ? 21 : 1;\n  const eM = data.is20 ? data.month : data.month;\n  const eD = data.is20 ? 20 : new Date(data.year, data.month, 0).getDate();\n  const period = `${sM}/${sD}〜${eM}/${eD}`;\n  let msg = `【${data.companyName} 請求集計】\n期間：${period}\n\n`;\n  if (lines.length === 0) { msg += '該当する稼働記録がありません'; }\n  else {\n    msg += lines.join('\\n') + '\\n\\n────────────\\n';\n    msg += `稼働日数：${sorted.length}日`;\n    if (totalHighway > 0) msg += `\\n高速合計：¥${totalHighway.toLocaleString('ja-JP')}`;\n    if (totalDistance > 0) msg += `\\n距離合計：${totalDistance}km`;\n  }\n  const billingFileName = `請求集計_${data.year}年${String(data.month).padStart(2,'0')}月.xlsx`;\n  return [{ json: { replyToken: data.replyToken, replyMessage: msg, records: sorted, companyName: data.companyName, billingFileName, year: data.year, month: data.month } }];\n})();"
      },
      "name": "請求集計処理",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1560,
        280
      ],
      "id": "dr-billing-proc-001"
    },
    {
      "parameters": {
        "jsCode": "const lineToken = 'Bearer DKt6qGilWRHXrKlH9W6OTHsIStuvR9BQ9h+DG7LN/5Iit59+sk1wNF+rGWOD9SX687OmB/TF5jpNnXkDSiR31Rm23yc0aLJFzL93ljoBHvUQOrS14Pi2d5ixBmlrG5VJh0vpGuno4BAaIu35GsL0NwdB04t89/1O/w1cDnyilFU=';\nconst replyToken = $json.replyToken;\nconst text = $json.replyMessage;\nif (replyToken && text) {\n  await this.helpers.httpRequest({\n    method: 'POST', url: 'https://api.line.me/v2/bot/message/reply',\n    headers: { 'Authorization': lineToken },\n    body: { replyToken, messages: [{ type: 'text', text }] }, json: true\n  });\n}\nreturn [{ json: { done: true } }];"
      },
      "name": "LINE返信（請求集計）",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2440,
        280
      ],
      "id": "dr-billing-reply-001"
    },
    {
      "parameters": {
        "method": "GET",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/root:/請求集計/{{ $json.billingFileName }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftDriveOAuth2Api",
        "options": {},
        "onError": "continueRegularOutput"
      },
      "name": "請求集計Excelファイル情報取得",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        1780,
        280
      ],
      "id": "dr-billing-excel-fi-001"
    },
    {
      "parameters": {
        "jsCode": "const ExcelJS = require('exceljs');\nreturn await (async () => {\n  const data = $('請求集計処理').first().json;\n  const fileInfo = $input.first().json;\n  const wb = new ExcelJS.Workbook();\n  // 既存ファイルがあれば読み込む\n  if (fileInfo['@microsoft.graph.downloadUrl']) {\n    try {\n      const res = await this.helpers.httpRequest({ method: 'GET', url: fileInfo['@microsoft.graph.downloadUrl'], encoding: 'arraybuffer', returnFullResponse: false });\n      await wb.xlsx.load(Buffer.from(res), { useSharedStrings: false });\n    } catch(e) { /* 読み込み失敗時は新規作成 */ }\n  }\n  // シート取得または作成\n  let sheet = wb.getWorksheet(data.companyName);\n  if (sheet) {\n    // シートをクリア（ヘッダー以外）\n    const rows = [];\n    sheet.eachRow((row, num) => { if (num >= 2) rows.push(num); });\n    rows.reverse().forEach(num => sheet.spliceRows(num, 1));\n  } else {\n    sheet = wb.addWorksheet(data.companyName);\n    // ヘッダー行\n    const hdr = sheet.getRow(1);\n    hdr.getCell(1).value = '日付';\n    hdr.getCell(2).value = '区分';\n    hdr.getCell(3).value = '現場名';\n    hdr.getCell(4).value = '人員名';\n    hdr.getCell(5).value = '高速(円)';\n    hdr.getCell(6).value = '距離(km)';\n    hdr.commit();\n  }\n  // データ書き込み\n  let rowNum = 2;\n  for (const rec of data.records) {\n    const row = sheet.getRow(rowNum++);\n    row.getCell(1).value = rec.dateStr;\n    row.getCell(2).value = rec.shift;\n    row.getCell(3).value = rec.site;\n    row.getCell(4).value = rec.employees.join(' ');\n    row.getCell(5).value = rec.highway || 0;\n    row.getCell(6).value = rec.distance || 0;\n    row.commit();\n  }\n  const buf = await wb.xlsx.writeBuffer({ useSharedStrings: false });\n  const bin = await this.helpers.prepareBinaryData(Buffer.from(buf), data.billingFileName, 'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet');\n  return [{ json: { ...data }, binary: { data: bin } }];\n})();"
      },
      "name": "請求集計Excel書き込み",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2000,
        280
      ],
      "id": "dr-billing-excel-write-001"
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://graph.microsoft.com/v1.0/me/drive/root:/請求集計/{{ $json.billingFileName }}:/content",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "microsoftDriveOAuth2Api",
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "data",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet"
            }
          ]
        },
        "options": {}
      },
      "name": "請求集計アップロード",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        2220,
        280
      ],
      "id": "dr-billing-upload-001"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Webhook応答",
            "type": "main",
            "index": 0
          },
          {
            "node": "LINEメッセージ解析",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LINEメッセージ解析": {
      "main": [
        [
          {
            "node": "バリデーション確認",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "バリデーション確認": {
      "main": [
        [
          {
            "node": "メッセージタイプ判定",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LINE返信（エラー）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude API呼び出し": {
      "main": [
        [
          {
            "node": "Claude解析結果処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Claude解析結果処理": {
      "main": [
        [
          {
            "node": "解析バリデーション",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "解析バリデーション": {
      "main": [
        [
          {
            "node": "ファイル情報取得",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LINE返信（エラー）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ファイル情報取得": {
      "main": [
        [
          {
            "node": "ファイルダウンロード",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "ファイルダウンロード": {
      "main": [
        [
          {
            "node": "Excel書き込み",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Excel書き込み": {
      "main": [
        [
          {
            "node": "書き込みバリデーション",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "書き込みバリデーション": {
      "main": [
        [
          {
            "node": "アップロード",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "LINE返信（エラー）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "アップロード": {
      "main": [
        [
          {
            "node": "成功返信生成",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "成功返信生成": {
      "main": [
        [
          {
            "node": "LINE返信（成功）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "メッセージタイプ判定": {
      "main": [
        [
          {
            "node": "請求集計準備",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Claude API呼び出し",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計準備": {
      "main": [
        [
          {
            "node": "請求集計ファイル情報取得（当月）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計ファイル情報取得（当月）": {
      "main": [
        [
          {
            "node": "請求集計ファイル情報取得（前月）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計ファイル情報取得（前月）": {
      "main": [
        [
          {
            "node": "請求集計処理",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計処理": {
      "main": [
        [
          {
            "node": "請求集計Excelファイル情報取得",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計Excelファイル情報取得": {
      "main": [
        [
          {
            "node": "請求集計Excel書き込み",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計Excel書き込み": {
      "main": [
        [
          {
            "node": "請求集計アップロード",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "請求集計アップロード": {
      "main": [
        [
          {
            "node": "LINE返信（請求集計）",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}